
<%= interview_header @name, "" %>


<%= q1_who_are_you? %>

<p>Jeg er utvikler! Det meste jeg gjør handler om å lage ting, selv når jeg reiser rundt og holder foredrag om <a href="http://no.wikipedia.org/wiki/Lean">Lean</a> eller arrangerer <a href="http://www.smidig2010.no/">Smidigkonferansene</a>. Prosessene rundt oss bidrar enten til bedre utvikling, eller dårligere, derfor engasjerer jeg meg, det er for mye sløs i de aller fleste bedrifter. </p>

<p>Jeg har jobbet både med <a href="http://www.microsoft.com/net/">.Net</a> og <a href="http://www.oracle.com/us/technologies/java/index.html">Java</a>, men <a href="http://en.wikipedia.org/wiki/Enterprise_software">"enterprise"</a> sugde livsgleden ut av meg og jeg satte meg ned i et halvt år for å lære meg <a href="http://www.ruby-lang.org/en/">Ruby</a> og <a href="http://rubyonrails.org/">Rails</a>. Ruby og communitiet er helt fantastisk. Bli med oss på <a href="http://irb.no">irb.no</a> og se hva vi driver med, alle er velkomne!</p>

<p>Mitt seneste gründerprosjekt er <a href="http://powest.no/">Powest</a>, automatisering av produksjonsplanlegging for småkraftverk. Powest skrives i Ruby on Rails og har et stort antall integrasjonpunkter og eksterne aktører. Jeg har selvsagt vett nok til å holde ESBer og SOA utenfor, jeg er tross alt kompetent! De som kjenner meg, vet at jeg kan være frittalende, men jeg mener godt og er generelt en engasjert og glad mann.</p>

<p>
Du finner mer om og fra meg på <a href="http://twitter.com/ole_morten">twitter</a>, <a href="http://olemortenamundsen.wordpress.com/">bloggen min</a>, <a href="https://github.com/oma">github</a> og <a href="http://stackoverflow.com/users/252799/ole-morten-amundsen">stackoverflow</a>.	
</p>


<%= q2_what_hardware? %>
 
<p><a href="http://www.apple.com/no/macbookpro/">Macbook Pro</a> 15" fra tidlig 2008, som jeg har pimpet opp til 6 GB RAM og 256 GB SSD. Dessverre er den for god til at jeg kan forsvare kjøp av ny. Unntatt min splitter nye <a href="http://www.apple.com/macbookair/">Macbook Air</a> 11". M mm MM! 1366x768 oppløsning og 128GB flash disc og mindre enn en iPad. </p>
	
<p><a href="http://www.apple.com/ipad/">iPaden</a> kvittet jeg meg med etter 3 måneder, det eneste jeg savner med den er <a href="http://itunes.apple.com/us/app/angry-birds/id343200656?mt=8">Angry Birds</a>. På min 2,5 år gamle <a href="http://www.apple.com/ipad/">iPhone</a> 3G skriver jeg mye raskere enn på den klønete padden.</p>

<p>Til mitt gjemmekontor og til kontor hos kunde har jeg en ekstern 24" skjerm, tastatur med numpad og mus. På kveldstid sitter jeg ofte i sofaen med beina til dama i fanget, Macbook Air oppå dem og en øl i hånda. Life is good!</p>
 

<%= q3_what_software? %>

<p><a href="http://macromates.com/">TextMate</a> for kjapp tekstredigering, som de fleste andre Mac-brukere og Rubyister. Men jeg setter pris på et godt IDE og her bruker jeg <a href="http://www.jetbrains.com/ruby/">RubyMine</a> (~= IDEA)
Mer trenger jeg ikke. </p>

<p>Den største effektivitetsboosten har jeg fått av <a href="http://lastpass.com/">LastPass</a>. Den krypterer alle passord for meg, har plugins til både <a href="http://www.google.com/chrome/?hl=no">Chrome</a> og <a href="http://www.mozilla.com/en-US/firefox/new/">Firefox</a> og jeg får tak i passord og documenter uansett hvor jeg er, på hvilken som helst maskin. Denne har reddet meg mange ganger!</p>

<p>Servere kjører jeg i skyen og jeg har 10 apper på <a href="http://heroku.com/">Heroku</a>. Flesteparten er stagingmiljøer og gratis lekeapplikasjoner, men også produksjonsapper. Hos Heroku kan jeg skalere hardware med en scrollbar!  Skalering fra 2 til 10 instanser med en scrollbar er kult i seg selv, men det blir virkelig kult når man skalerer automatisk basert på trafikk. Om morgenen mellom 0800 og 1000 har <a href="http://powest.no/">Powest</a> mer trafikk og krever mer kraft enn om natta, så da skrur man opp og ned, automatisk. Sweet!
</p>

<p>Andre ting som må nevnes: <a href="http://www.dropbox.com">Dropbox</a>, <a href="http://git-scm.com/">Git</a>, <a href="http://leankitkanban.com">LeanKit Kanban</a> og <a href="http://stackoverflow.com">Stack Overflow</a>.</p>


<%= q4_dream_setup? %>

<p>Kabelfritt liv. Ingen skjermkabler, strømkabler, nettverkskabler, adaptere. Trådløs strøm hadde vært noe, man har induksjonsfelt men jeg bryr meg tross alt om helsa også. </p>
 
<p><a href="http://www.escapistmagazine.com/news/view/109004-Swedes-Debut-Eye-Tracking-PC-Control-System">Eye tracking</a>! Jeg blir sliten av både mousepad og mouse, vil heller ikke løfte armen til skjermen og er for gammel og utålmodig til å lære meg alle magic keyboard shortcuts. Men jeg tviler på at eye control er helt moden ennå, nå tittet jeg f.eks opp på Chelsea - Man City kampen, mens jeg skrev. Hva ville eye tracking mekanismen trodd?</p>
