
<%= interview_header @name, "" %>


<%= q1_who_are_you? %>

<p>Jeg heter Sondre Bjellås og er Senior Solution Architect hos <a
href="http://www.deepmind.no/">Deepmind AS</a>. I denne stillingen
gjør jeg alt en vanlig utvikler gjør, og mye mer. Involverer gjerne
møter med kunder for å forstå problemstillinger og skissere
løsninger. Utarbeide detaljerte arkitekturbeskrivelse av
løsning. Jobbe sammen med team av utviklere for å få realisert en
beskrevet arkitektur. Går med tid til coaching og mentoring av
kollegaer, ikke bare på arkitektur og programmeringsteknikker - men
også innenfor presentasjonsteknikk, da jeg har endel erfaring med å
holde presentasjoner.</p>

<p>Jeg er veldig glad i front-end, startet min karriere som
web-designer. Spesielt glad i HTML 5 og mener at det meste av
applikasjoner kan realiseres på web-teknologier. På fritiden liker jeg
å jobbe med ulike open source prosjekter og tukler litt med ny
teknologi. Veldig glad i filmer og bygger for tiden en dedikert
hjemmekino. Det som kommer først i livet, er vår lille datter. Hun
setter premissene for min tidsbruk i disse dager.</p>

<p>Har en lidenskaplig interesse i frivillighet og ikke-vold som to
grunnleggende prinsipper for å organisere samfunnet. Blogget siden
2000 og holder stadig koken med flere tekniske og ikke-tekniske
blogger. Eneste norske blogg er den filosofiske bloggen,
<a href="http://utenstat.no/">http://utenstat.no</a></p>



<%= q2_what_hardware? %>

<p>Bruker en hjemmebygget PC til å spille dataspill og utføre
videoredigering. Spiller mest spill på Xbox 360, mer kos å sitte i en
god stol mens man spiller med venner over <a
href="http://www.xbox.com/nb-NO/Live">Xbox Live</a>. En stasjonær PC
med stor skjerm, god mus og keyboard vil alltid være å preferere når
man skal programmere. Bærbare PCer er ikke bygget for utviklere.</p>

<p>Bruker forøvrig en <a
href="http://www.dell.com/us/p/xps-l412z/fs">Dell XPS 14z</a> som
laptop.</p>

<p>Vokste opp med Macintosh, gikk over til Windows PCer da jeg startet
min første jobb som 17-åring tilbake i 1998. Vært borti det meste
fra Commodore 64, Amiga og videre.</p>

<p>Har et avslappet forhold til teknologi og plattform, bruker daglig
både iPad, iPhone, Windows Phone og Windows.</p>

<p>Har noen fantastisk gode hodetelefoner med støykansellering, har både
Bose og et annet merke jeg ikke husker i farten.</p>


<%= q3_what_software? %>

<p>Av programvare er det <a
href="http://www.microsoft.com/visualstudio/en-us">Visual Studio</a>
som er det viktigste verktøyet.<a href="http://paint.net/">
Paint.NET</a> er aktivt brukt som et alternativ til Photoshop, og det
finnes en utmerket add-on til Paint.NET som gjør det raskt og enkelt å
lagre som .ico (ikon) filer. <a href="http://office.microsoft.com/nb-no/">Microsoft Office</a> brukes tungt, spesielt
<a href="http://office.microsoft.com/en-us/visio/">Visio</a> og <a href="http://office.microsoft.com/nb-no/outlook/">Outlook</a>.</p>

<p><a href="http://www.spotify.com/">Spotify</a> brukes daglig, på
alle enhetene. Bruker om dagen <a
href="http://www.slysoft.com/en/anydvdhd.html">AnyDVD HD</a> ganske
mye til å ta kopi av alle filmene mine. Skal brukes til å lettere
organisere, søke, finne og spille av filmene på hjemmekinoen.</p>

<p>Av nettlesere bruker jeg det meste, Chrome, IE, FireFox og Opera. <a href="http://www.google.com/chrome?hl=no">Chrome</a>
blir mest brukt.</p>

<p>Bruker <a href="http://keepass.info/">KeePass</a> for alle mine
hemmeligheter, anbefales på det sterkeste!</p>

<p>Annet av programvare jeg bruker litt, er: <a
href="http://explore.live.com/windows-live-mesh">Windows Live Mesh</a>
(cloud backup av dokumenter og synkronisering av alle bildene), <a
href="http://www.airplayit.com/">AirPlayIt</a> for streaming til iPad
og iPhone fra Windows, <a href="http://www.evernote.com/">Evernote</a>
for notater, <a
href="http://www.informationarchitects.jp/en/writer-for-ipad/">Writer</a>
til iPad for effektiv skriving og tekst-notater, <a
href="http://www.videolan.org/vlc/">VLC Player</a> for
videoavspilling... og masse, masse mer.</p>


<%= q4_dream_setup? %>

<p>For noen år siden holdt jeg foredrag på <a
href="http://www.gathering.org">The Gathering</a> i Vikingskipet for
Microsoft. I den forbindelsen krevde jeg å få en god maskin å gjøre
demoer på. Da fikk jeg et beist av en demo-maskin fra HP, som
inkludert to stk 30" LCD skjermer. Såpass burde hver utvikler ha på
kontoret!</p>

<p>Ellers vil jeg ha <a
href="http://www.xbox.com/en-US/kinect">Kinect</a>-sensor under
skjermen, som brukes til å gi kommandoer til PCen.</p>

<p>Mest av alt, drømmer jeg om den dagen PCene begynner å ta
antropomorfisme helt ut. Antropomorfisme handler om menneskers evne
til å tilegge objekter og dyr mer menneskelige trekk og evner enn de
egentlig har. Datamaskiner kunne fint med dagens kraft, simulere mange
av menneskers egenskaper og utført nyttige hjelpetjenester for
folk. Det vi ser med <a
href="http://www.apple.com/iphone/features/siri.html">Siri</a> på
siste iPhone fra Apple er bare begynnelsen på noe stort som kommer om
noen år. Har skrevet litt om dette på <a
href="http://morphi.me">http://morphi.me</a>.</p>
