
<%= interview_header @name, "" %>

<%= q1_who_are_you? %>

<p>Jeg heter Anders Austad og er ansatt som konsulent i <a href="http://bouvet.no">Bouvet</a>. De siste tre årene har jeg bodd i London, England, hvor jeg har vært så heldig å få jobbe på lokalkontoret til en av Bouvets kunder. Her gjør jeg .NET-utvikling hovedsaklig rettet mot Sharepoint og Office.</p>

<p>Når jeg ikke jobber eller sitter fast på t-banen (eller begge deler), trener jeg løping, går på konserter, oppdager restauranter med min samboer og pusler med mer eller mindre seriøse prosjekter. Foreløpig er det kun musikk-siden <a href="http://pitchify.com">Pitchify.com</a> som har blitt til et ordentlig produkt, men c:\junk\-mappa mi har et par ting liggende som jeg håper å få gjort tilgjengelig snart.</p>

<p>Jeg er alltid interessert i gode idéer til ting som kan automatiseres eller forenkles, og kan nås på <a href="http://twitter.com/anderaus">twitter.com/anderaus</a> eller <a href="mailto:anderaus@gmail.com">anderaus@gmail.com</a>.</p>

<%= q2_what_hardware? %>

<p>Som utskremt konsulent må man ofte forholde seg til den maskinvare som kunden innehar, på godt og vondt. For tiden er heldigvis hoved-PC'n min en <a href="http://www.dell.com/us/business/p/optiplex-desktops">Dell Optiplex</a> av nyere dato, med en parallell installasjon av <a href="http://windows.microsoft.com/nb-NO/windows7/products/home">Windows 7</a> og <a href="http://www.microsoft.com/windowsserver2008/en/us/default.aspx">Windows Server 2008</a>. Jeg er ikke veldig opptatt av hardware-spesifikasjoner, så lenge jeg ikke plages av støy, treghet eller faren for eksplosjon. Når det er sagt så setter jeg pris på å ha minst 2 skjermer tilkoblet, og aller helst så stor skjermflate som mulig. Og en god stol med vipp.</p>

<p>Hjemme har jeg flere eldre bærbare som det ikke er verdt å si så mye om. Det er behov for oppgradering på den fronten (er det ikke alltid?). Jeg gjør fortsatt det aller meste på en hjemmebygd stasjonær PC, som jeg ved jevne mellomrom oppgraderer. Neste endring av denne blir nok i form av en SSD-disk.</p>

<p>I stua har jeg en bitteliten<a href="http://www.vg.no/teknologi/artikkel.php?artid=556492"> Acer Revo R3600</a> som kjører <a href="http://xbmc.org/">XBMC</a>, et gratis open-source mediasenter jeg anbefaler på det sterkeste. Siden jeg bor i utlandet setter jeg stor pris på NRK-utvidelsen til denne, som gir meg tilgang til det meste av NRK-arkivet. Den er også i stand til å streame filmer i HD fra min stasjonære, er omtrent lydløs og har god integrasjon mot Android vha en offisiell app. Jeg bruker også ofte TED Talks- og TechCrunch-utvidelsene til XBMC.</p>

<p>Hovedmobilen min er en ett år gammel <a href="http://www.htc.com/www/product/nexusone/overview.html">HTC Nexus One</a> som kjører versjon 2.3.4 av <a href="http://www.android.com/">Android</a>. En fantastisk mobil som har overlevd det utroligste. Overlevd har dessverre også min gamle Sony W880i, som jeg bruker med mitt norske SIM-kort. Har ikke hjerte til å kjøpe ny før denne tar kvelden, men det ser bare ikke ut til å skje. Den er på sitt femte år nå, om jeg ikke husker feil.
</p>

<p>Jeg nevnte at jeg løper av og til, og dette ble ikke en seriøs hobby før jeg investerte i en <a href="https://buy.garmin.com/shop/shop.do?pID=11039#owners">Garmin 405</a> pulsklokke med GPS. Gleden over å komme hjem fra en løpetur og umiddelbart kunne studere kart, pulssoner og hastigheter er stor. Garmin har også et sosialt nettsted hvor løp kan deles med venner for sammenligning og skryt. Stort pluss i margen for at klokka trådløst overfører treningsdata med en gang jeg er i 3 meters avstand fra PCn. Om man ikke er redd for å få slagside av å ha mobilen på armen, kan RunKeeper anbefales som en grei erstatning.</p>

<p>Min samboer klarte å lese hele Dickens’ Great Expectations på sin iPhone, men så tålmodig er ikke jeg. Min <a href="http://en.wikipedia.org/wiki/Sony_Reader">Sony PRS-505</a> brukes flittig til å lese alt som er lengre enn fire avsnitt. Vha <a href="http://calibre-ebook.com/">Calibre</a> kan jeg synce RSS’er og nyheter ganske enkelt. Skjønt hadde jeg kjøpt i dag, ville det nok blitt en <a href="http://en.wikipedia.org/wiki/Amazon_Kindle">Kindle</a>. Lesing kombineres også gjerne med musikk fra <a href="http://www.spotify.com/no/">Spotify Premium</a> og bruk av et <a href="http://www.shure.com/">Shure</a> headset. Jeg har alltid vært skeptisk til high-end headsets, men har omsider blitt overbevist. Det <strong>er</strong> verdt pengene.</p>

<%= q3_what_software? %>

<p>På jobb går det mye i <a href="http://www.microsoft.com/visualstudio/en-us">Visual Studio 2010</a> når jeg programmerer, med <a href="http://en.wikipedia.org/wiki/Team_Foundation_Server">TFS</a> og utvidelsen <a href="http://urbanturtle.com/">Urban Turtle</a> for å gjøre versjonskontroll og smidig utvikling. Jeg jobber ofte på mange forskjellige virtuelle og fysiske maskiner, og <a href="http://www.code4ward.net/main/">Royal TS</a> er et uvurderlig verktøy for å holde styr på disse.</p>

<p>Jeg reiser mye, og må forholde meg til mange forskjellige maskiner, derfor er <a href="http://dropbox.com">Dropbox</a> og <a href="http://evernote.com">Evernote</a> nyttig. Førstnevnte bruker jeg for eksempel til å synkronisere innstilinger jeg ønsker å ha tilgjengelige uansett hvor jeg logger inn. Alle programmer som tar i bruk en ekstern fil med konfigurasjoner eller innstillinger deler jeg i Dropbox’en, slik at jeg har “mitt” oppsett tilgjengelig overalt. I forbindelse med reising er <a href="http://www.tripit.com/?ot=4">TripIt</a> nyttig. Jeg har gitt programmet tilgang til min gmail-konto, slik at det automatisk gjenkjenner alle reise-relaterte eposter. TripIt henter ut informasjon fra epostene og lagrer det sentralt, så jeg kan nå det fra f.eks. mobilen.</p>

<p>Siden prosjektene jeg gjør hjemme har et litt annet (ikke-eksisterende) budsjett enn de jeg gjør på jobb, benytter jeg meg av freemium- eller gratis-verktøy. <a href="http://agilezen.com/">AgileZen</a> som scrum/kanban-board, <a href="http://unfuddle.com">unfuddle.com</a> til versjonskontroll, <a href="http://www.axosoft.com/rocketsvn">Rocket SVN</a> til å integrere subversion i Visual Studio og <a href="http://getsatisfaction.com/">GetSatisfaction</a> til feedback og support. Jeg har også blitt veldig glad i <a href="http://www.asp.net/mvc">ASP.NET MVC</a> som utvikler-rammeverk. Det har mange paralleller til <a href="http://rubyonrails.org/">Ruby on Rails</a>, og gir en langt større grad av kontroll enn jeg har opplevd med tradisjonell ASP.NET-utvikling.</p>

<p>For å holde styr på sosiale nettverk har jeg byttet fram og tilbake mellom <a href="http://www.tweetdeck.com/">Tweetdeck</a> og <a href="http://seesmic.com/">Seesmic</a> for å få samlet all informasjon i ett grensesnitt, men nå som Tweetdeck har blitt kjøpt opp av Twitter tipper jeg det blir veien å gå framover. På de gamle laptop’ene hjemme har jeg installert <a href="http://www.jolicloud.com/">Jolicloud</a>, et OS som kjører parallellt med det man har fra før og lar deg bruke laptop’en som en lettvekts netbook.</p>

<p><a href="http://firefox.no/">Firefox</a> er fortsatt min foretrukne browser, til tross for sine lyter. Den syncer nå aktive sesjoner, slik at jeg kan ha 10 tab’er åpne på jobb og fortsette å bruke disse fra mobilen når jeg har forlatt kontoret. I tillegg er <a href="http://getfirebug.com/">Firebug</a> obligatorisk om man gjør noe som helst frontend-utvikling mot web.</p>

<p>Et siste tips går til likesinnede konsertgjengere. Kombinasjonen <a href="http://www.last.fm/">last.fm</a> og <a href="http://www.songkick.com/">songkick.com</a> er uvurderlig for å få med seg hva som skjer på konsertfronten. Basert på egen musikksmak gir songkick anbefalinger om konserter og utesteder som er verdt et besøk. I London er nettsiden obligatorisk, men jeg har sett de har ganske god dekning i norske byer også. De lanserte forøvrig en veldig flott iPhone-app forrige uke.</p>

<%= q4_dream_setup? %>

<p>Er det lov å begynne med en liten klage her? Datatrafikk er for dyrt. Spesielt på mobile nettverk i utlandet. Det første man gjør når man går av flyet er å skru av roaming på mobilen, og dermed sette smart-telefonen sin 5 år tilbake i tid. En kostnad på 35 kr pr MB kan ikke lenger forsvares, og hemmer innovasjon av mobile applikasjoner. Tenk hvor nyttig f.eks. <a href="http://blog.foursquare.com/">Foursquare</a> Explore hadde vært om alle hadde hatt mulighet til å benytte det i utlandet? Heldigvis har noen oppstartbedrifter tatt tak i dette, enten ved å levere rimeligere roaming (<a href="http://www.maxroam.com">Maxroam</a>) eller ved å tilby utleie av 3G-dongler (<a href="http://www.droam.nl/en/">Droam</a>).</p>

<p>En del av drømmeutstyret mitt blir derfor en dings eller tjeneste som gir meg rimelig dataoppkobling i utlandet. I tilegg ville jeg satt pris på en skjerm man kunne brukt i sterkt sollys, både på mobil og laptop. Og lengre batterilevetid. Mye lengre.</p>

<p>Ja, og så hadde det vært fint om noen kunne laget datamaskiner som ikke tiltrekker seg støv. Takk, hilsen Anders.</p>
