
<%= @interview_header %>

<%= q1_who_are_you? %>

<p>Jeg heter <a href="http://www.htmlutvikler.no/">André Eide</a>, og jobber som selvstendig næringsdrivende med blant annet <a href="http://1001spill.no">1001 Spill</a>. Har vært programmerer i tretten år, og jobbet i Telenor, og Software Innovation som utvikler og konsulent. Er hobbyfotograf, og studerer fotografi ved siden av jobb. I ungdomstida programmerte jeg demoer på Amiga, så jeg har vært innom 68000-assembler, C++, Visual Basic, Java, PHP og Ruby. I dag bruker jeg mest PHP og Ruby.</p>	
 
<%= q2_what_hardware? %>
 
<p>Har en 15" Macbook Pro (500 GB <a href="http://www.seagate.com/www/en-us/products/laptops/laptop-hdd" title="Momentus XT">Momentus XT</a> 7200 RPM hybriddisk, 4 GB RAM, 2.66 Intel Core 2 Duo), og en <a href="http://www.htc.com/no/product/desirez/overview.html">HTC Desire Z</a>.</p> 
 
<p>På kontoret står monitoren Samsung SyncMaster 24", nettverkslaseren Dell 1815DN, og en <a href="http://www.wdc.com/en/products/products.aspx?id=440">500 GB USB-disk</a> til backup.</p> 
 
<p>Hjemme-monitoren er en Samsung SyncMaster 22", og nok en 500 GB USB-disk til backup.</p> 
 
<p>Jeg leier to dedikerte servere i USA hos <a href="http://www.pair.com/">Pair</a> med FreeBSD, til å kjøre 1001 Spill og mine øvrige prosjekter.</p> 
 
<p>Har <a href="https://netcom.no/mobiltbredband/fribruk.html">USB-modem</a> fra Netcom, i tilfelle nettet streiker.</p> 
 
<p>Angrer på at jeg ikke kjøpte refleksbehandlet skjerm til Macbooken, da standardskjermen har plagsomt mye gjenskinn.</p> 
 
<p>Alt i alt, liker Macbook Pro veldig godt, multitouch på trackpaden er superb, OS X ryddig og intuitiv, og Unix-basisen gjør maskinen effektiv og fleksibel.</p> 
 
<p>Apple er ganske firkanta hva kundebehandling angår, så får man trøbbel, kan reparasjoner ta lang tid. Har derfor tatt vare på en gammel Macbook Pro, som reservemaskin.</p> 
 
<p>Er ganske fornøyd med <a href="http://www.htc.com/no/product/desirez/overview.html">HTC Desire Z</a>. Foretrekker å skrive på tastatur, kontra skjerm, selv om den har småbugs, og et par ulogiske brister på tastaturet.</p> 
 
<p>Til fotografering bruker jeg <a href="http://www.canon.no/For_Home/Product_Finder/Cameras/Digital_SLR/EOS_40D/">Canon 40d</a>, og <a href="http://www.canon.no/for_home/product_finder/cameras/digital_slr/eos_5d/index.aspx">Canon 5d</a>. Selv om disse er mange år gamle, er det fortsatt supre kameraer. I stedet for nytt kamera, kjøper jeg nå heller proffobjektiver eller studioutstyr.</p> 
 
<%= q3_what_software? %>
 
<p>Jobber mest i <a href="http://netbeans.org/">NetBeans</a>, og med <a href="http://www.mozilla.com/">Firefox</a> (med <a href="https://addons.mozilla.org/en-us/firefox/addon/web-developer/">Web Developer</a>, <a href="https://addons.mozilla.org/en-us/firefox/addon/firebug/">Firebug</a>, <a href="http://seleniumhq.org/projects/ide/" title="Selenium IDE Plugins">Selenium IDE</a>).</p> 
 
<p>Kjører også Windows XP i <a href="http://www.virtualbox.org/">VirtualBox</a>, som er satt opp med IE8, IE7 og IE6, til browsertesting.</p> 
 
<p>Bruker <a href="http://no.openoffice.org/">OpenOffice</a> og <a href="http://www.omnigroup.com/products/omnigraffle/">OmniGraffle</a> (Mac) til dokumenter og dokumentasjon.</p> 
 
<p><a href="http://www.photoshop.com/">Photoshop</a> brukes til all bildebehandling, og bildeorganiseringen gjøres med <a href="http://www.adobe.com/products/creativesuite/bridge/">Adobe Bridge</a>.</p> 
 
<p>Tar backup med <a href="http://www.bombich.com/">Carbon Copy</a> (Mac), som lager bootbare USB-disker. Dersom maskinen ryker, kan jeg jobbe på hvilken som helst Mac, om jeg booter fra disse diskene.</p> 
 
<p>Er jeg ukonsentrert på jobb, starter jeg <a href="http://visitsteve.com/made/selfcontrol/">SelfControl</a> (Mac), som begrenser tilgang til Facebook, Twitter eller annet distraherende. For å redusere musebruk, bruker jeg <a href="http://irradiatedsoftware.com/sizeup/">SizeUp</a> (Mac), som har smarte hotkeys for flytting av vinduer.</p> 
 
 
<p>Lagrer mine passord i <a href="http://www.keepassx.org/" title="KeePassX">KeePassX</a> (Mac) og <a href="http://www.openintents.org/en/safe">OI Safe</a> (Android)</p> 
 
<p>Bruker <a href="http://gmail.com">Gmail</a> til kontakter, epost og kalender, der kalenderen synkes mot <a href="http://en.wikipedia.org/wiki/ICal">iCal</a> (Mac)</p> 
 
<p>PHP-miljøet er satt opp med <a href="http://www.apachefriends.org/en/xampp.html">XAMPP</a>, og <a href="http://www.xdebug.org/">XDebug</a>. Bruker databaseverktøyet <a href="http://www.sequelpro.com/">Sequel Pro</a> (Mac) eller kommandolinja mot MySQL. Automatisert testing gjør jeg med <a href="http://seleniumhq.org/projects/remote-control/">Selenium RC</a>, styrt av <a href="http://phpunit.sourceforge.net/">PhpUnit</a>. Prodsetter med <a href="https://github.com/capistrano/capistrano/wiki">Capistrano</a> tilpasset PHP, og småendringer med FTP-klienten <a href="http://cyberduck.ch/">CyberDuck</a>. Kildekoden ligger i <a href="http://subversion.apache.org/" title="Apache Subversion">SVN</a> hos <a href="http://sourcerepo.com/">SourceRepo</a>.</p> 
 
<p>En liten bærbar, og en fulltastatur-mobil, holder til all min jobb. 500 GB disk rommer alt jeg noensinne har laget. Dersom disken begynner å bli full, rydder jeg vekk overflødige filer eller bilder. Med <a href="http://www.bombich.com/">Carbon Copy</a> er det også slutt på å konfigurere maskiner. Jeg har alltid en blåkopi, på to USB-disker. Med <a href="http://www.virtualbox.org/">VirtualBox</a> har jeg heller ingen behov for en Windows-maskin, hvilket gjør det mye enklere å teste nettsidene jeg lager. </p>
	
<p>Alt i alt er jeg veldig godt fornøyd med flyten disse programmene og maskinene gir. Det eneste jeg ønsker meg er raskere disk.</p> 
	
<%= q4_dream_setup? %>
 
<p>Drømmer om en 15" Macbook Air med 500 GB SSD.</p>