
<%= interview_header @name, "" %>


<%= q1_who_are_you? %>

<p>
Jeg heter Christian Johansen, og jobber som programmerer i <a href="http://gitorious.org">Gitorious</a>. Jeg har nylig skrevet boka <a href="http://tddjs.com/">Test-Driven JavaScript Development</a>
og er en stor entusiast for <a href="http://en.wikipedia.org/wiki/JavaScript">JavaScript</a>, <a href="http://en.wikipedia.org/wiki/Test-driven_development">TDD</a>, <a href="http://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882">"clean code"</a>, <a href="http://www.ruby-lang.org/en/">Ruby</a> og <a href="http://www.linux.com/">Linux</a>. Min
profesjonelle karriere så langt har først og fremst bestått av konsulentoppdrag,
hovedsakelig innen webutvikling. Nå har jeg delvis forlatt konsulentbransjen til
fordel for å jobbe med et eget produkt, en utfordring jeg finner veldig
spennende. I arbeidet med Gitorious går dagene med til alt fra å svare på
support-mail, via programmere nye features (Ruby backend, pluss "vanlig" web
frontend), til massering av logger og tweaking av serveroppsett.
</p>

<p>I løpet av det siste året har jeg også hatt gleden av å gjøre et par
<a href="http://android.com">Android</a>-applikasjoner. De som kjenner meg vet at jeg ikke er noen stor
pågangsdriver for native mobilapplikasjoner (altså, de som kunne passet som
webapper), men <a href="http://developer.android.com/sdk/index.html">Android SDK-et</a> er veldig morsomt å jobbe med.</p>

<p>Til slutt skal det nevnes at jeg også har entret "kursscenen", om det er noe som
heter det. Jeg holder kurs i JavaScript og TDD med JavaScript via
<a href="http://www.programutvikling.no/">ProgramUtvikling AS</a>, neste gang i april.
</p>

<p>Utover all denne jobbinga er jeg en ihuga filmfan, og jeg spiller gitar i death
metal-bandet <a href="http://myspace.com/execrationnorway">Execration</a>. Litt variasjon må til.
</p>


<%= q2_what_hardware? %>

<p>La oss ta kåmpjutern først. Jeg hadde tidligere flere maskiner, men de siste par
åra har jeg strebet etter stadig mindre context switching, så nå har jeg kun én
maskin som jeg bruker både på jobb og hjemme.
</p>

<p>Maskinen det er snakk om er en Lenovo <a href="http://www.hardware.no/artikler/lenovo_thinkpad_t400s/70503">Thinkpad T400s</a>, et fantastisk stykke
laptop. Den har en 14.4" skjerm med 1440x900 oppløsning - viktig. I tillegg er
den utstyrt med en SSD, som er den mest signifikante oppgraderingen av utstyr
jeg har gjort siden... siden jeg kan huske. Maskinen er også overraskende nett
og lett og har et fint tastatur som er mykt og godt å skrive på.
</p>

<p>Hjemme bruker jeg kun laptopen. På jobb har jeg også en (relativt ny) <a href="http://www.nec-display-solutions.com/">Nec</a>
Multisync 26" skjerm. Den er svær, har svart ramme (noe jeg liker) og er
lyssterk og behagelig å jobbe med. I tillegg har jeg et 100 kroners
<a href="http://www.logitech.com/en-us/keyboards">Logitech</a>-tastatur - et sånt flatt et som bråker noe veldig. Jeg elsker det
tastaturet. Jeg har også en Logitech-mus. Litt usikker på modellen, men den er
ganske liten, men ikke for liten. Kan være en <a href="http://www.logitech.com/en-us/mice-pointers/mice/devices/5843">M705</a>. Også veldig fornøyd med den.
</p>

<p>På hodet har jeg alltid et headset. På jobb bruker jeg stort sett mine <a href="http://www.koss.com/koss/kossweb.nsf/p?openform&pc^pt^PORTAPRO">Koss
Porta Pro</a>, som jeg liker for sine perverse bassmengder og, vel,
portabilitet. Det er også disse som underholder meg til og fra jobb. Hjemme har
jeg litt mer krem, det er det nemlig <a href="http://www.audioreview.com/mfr/beyerdynamic/headphones/dt-770-pro-/PRD_117777_2750crx.aspx">Beyerdynamic DT770 Pro</a> som gjelder. Du kan
spørre hvorfor jeg ikke bruker disse - som åpenbart har best lyd og best komfort
- også på jobb, og svaret er at jeg er redd for å ødelegge magien. Jeg nyter å
kunne komme hjem til noe som er litt annerledes - noe som er litt mer
behagelig, og er redd for at DT-ene blir for hverdagslige... Vi får se om det
snur seg snart, de er <strong>veldig</strong> gode.
</p>

<p>På telefonfronten har jeg akkurat bytta ut en treig og sliten <a href="http://www.htc.com/no/product/hero/overview.html">HTC Hero</a> med en
helt utrolig fet <a href="http://www.htc.com/no/product/desirehd/overview.html">HTC Desire HD</a>. Den er svær - Fisher Price-svær - har en veldig
lekker skjerm og er responsiv så det holder.
</p>

<p>Ellers nevnte jeg jo at jeg spiller gitar, og da er det ikke mulig å la være å
nevne at jeg nylig fikk meg en ny <a href="http://en.wikipedia.org/wiki/Fender_Jaguar">Fender Jaguar</a>, som er gitaren jeg har drømt om
siden jeg gikk på ungdomsskolen. Også veldig fornøyd med den, og gleder meg
veldig til å bruke en tradisjonell surf/punk-gitar til å spille death metal.
</p>


<%= q3_what_software? %>

<p>OS: <a href="http://ubuntu.com">Ubuntu</a>. Vel, <a href="http://linuxmint.com/">Linux Mint</a> akkurat nå, men det er jo Ubuntu det også, bare med
litt ekstra bling på toppen. Har brukt Ubuntu siden 2007 og er stort sett veldig
fornøyd med det, selvom jeg ikke har digga alle tingene de har gjort med UI-et i
de siste par releasene. Mistenker at jeg snart hopper på en annen distro,
kanskje Debian eller Gentoo, ettersom Ubuntu har flere tilsynelatende skumle
endringer i vente.
</p>

<p>Utover OS-et bruker jeg i all hovedsak 5 andre apper: <a href="http://www.gnu.org/software/emacs/">Emacs</a>, <a href="http://en.wikipedia.org/wiki/GNOME_Terminal">Gnome Terminal</a>,
<a href="http://www.google.com/chrome/">Chrome</a>, <a href="http://projects.gnome.org/rhythmbox/">Rhytmbox</a> og <a href="http://www.spotify.com/no/">Spotify</a>. Både Emacs, terminalen og nettleseren min er apper
som det nesten ikke er grenser for hva kan gjøre, så jeg foretrekker å løse
problemer med dem så langt det går. Bruker jo såklart noe mer software, men
dette er de appene jeg må ha, resten (feks <a href="http://www.gimp.org/">Gimp</a> eller <a href="http://www.pidgin.im/">Pidgin</a>) brukes ikke like
ofte, og jeg har ikke et spesielt forhold til dem. Jeg skulle gjerne kunne si at
<a href="http://www.mozilla.com/en-US/firefox/new/">Firefox</a> er min "browser of choice", ettersom jeg er stor fan av Mozilla og det
arbeidet de gjør, men Chrome er rett og slett bare bedre fortsatt. Håper jeg kan
bytte tilbake til Firefox 4 når det kommer offisiell Ubuntu-pakke (versjonen
rett fra Mozilla sliter med font-rendering på Ubuntu).
</p>

<p>På telefonen er det et tilsvarende sparsomt sett med apper som er i bruk. Det er
såklart nettleseren, den bruker jeg nok mest. Android sin nettleser er en ener
på mobilplattformen blant det jeg har sett. Den er den eneste som automatisk
reflower tekst sånn at det passer innenfor skjermen, og man trenger omtrent
aldri å scrolle horisontalt. Dette koblet med den gode skjermen på Desire HD-en
gjør at jeg nå foretrekker telefonen fremfor iPad-en til surfing. Utover
browseren bruker jeg <a href="http://www.tweetdeck.com/">Tweetdeck</a> til Twitter, Google's Gmail til mail, Spotify og
<a href="http://www.androidpit.com/en/android/market/apps/app/no.shortcut/Osloruter">Osloruter</a> (laget av min kollega, <a href="http://twitter.com/zmalltalker">Marius Mathiesen</a>) i ny og ne. Kart bruker jeg
forresten også ganske ofte. Den nye <a href="http://www.google.com/mobile/maps/">Google Maps</a>-appen med vektorgrafikk,
3d-bygninger rotering osv er veldig veldig tøff.
</p>


<%= q4_dream_setup? %>

<p>Drømmeutstyr? Jeg er ikke noen utprega hardware-entusiast, så det beste jeg
kommer opp med i farta er mindre oppgraderinger av eksisterende
utstyr... Uendelig med batteri på telefonen, bedre batteri, mer og raskere
disk+ram+cpu på laptopen, to eksterne skjermer på jobb og DT-sett på jobb hadde
vært fint.
</p>

<p>En ting jeg har fablet om av og til er en Apple-maskin (hardware) som var bygget
for å kjøre Linux. Apple har god hardware, solide greier, bra batteritid osv,
men jeg hater softwaren deres, så å bruke nåværende tilbud er uaktuelt. Det er
kanskje litt fantasiløst, men jeg er i grunnen relativt fornøyd som jeg har det.
</p>