
<%= interview_header @name, "Fotografiet er tatt av <a href='http://twitter.com/ramyo'>Ram Yoga</a>" %>



<%= q1_who_are_you? %>

<p>Jeg heter Eli Toftøy-Andersen og jobber som senior rådgiver innen brukervennlighet og design i konsulentselskapet Steria AS.</p>

<p>
Jeg er en engasjert fagperson innen fagfeltet brukervennlighet. Som konsulent har jeg ulike roller alt etter prosjekt. Jeg jobber med interaksjonsdesign, tegner prototyper for ulike brukergrensesnitt, gjennomfører brukertester, lager informasjonsarkitektur for å nevne noe. </p>

<p>
Jeg holder også foredrag og har nylig skrevet boken <a href="http://www.brukskvalitet.no/praktiskbrukertesting/">Praktisk brukertesting</a> sammen med kollega <a href="http://twitter.com/jonwold">Jon Gunnar Wold</a>. Jeg twitrer som <a href="http://twitter.com/elitatt">@elitatt</a> og blogger på <a href="http://www.brukskvalitet.no">brukskvalitet.no</a>.</p>

<p>
På fritiden driver jeg litt med foto, men prøver ellers å ikke tilbringe alt for mye tid foran skjermen.</p>

<%= q2_what_hardware? %>

<p>
På jobben bruker jeg en standard bærbar jobb-pc (<a href="http://www.notebookreview.com/default.asp?newsID=5525&review=lenovo+thinkpad+t410">Lenovo T410</a>) med ekstern skjerm og mus.  Jeg har en ekstern 500 GB harddisk knyttet til denne. Hjemme har jeg en avdanket jobb-pc fra forrige arbeidsgiver samt en <a href="http://www.apple.com/ipad/">iPad</a> til surfing etc. IPaden er den første (hold deg fast) maskinen jeg har kjøpt for egne penger. Ellers har jeg alltid klart meg med utstyr fra utdanningsinstitusjoner og arbeidsgivere.  Jeg tar meg selv ofte i å bruke <a href="http://www.apple.com/iphone">iPhonen</a> til surfing hjemme, selv om jeg har større skjermer tilgjengelig.</p>


<%= q3_what_software? %>

<p>
Som interaksjonsdesigner bruker jeg mye penn (helst svarte, for eksempel <a href="http://www.penol.dk/">Penol</a> eller <a href="http://www.sharpie.com/enUS/Pages/HomePage.aspx">Sharpies</a>) og papir. Jeg fintegner deretter skissene i <a href="http://office.microsoft.com/en-us/powerpoint/">PowerPoint</a> eller <a href="http://www.omnigroup.com/products/omnigraffle/">OmniGraffle</a> (finnes kun for Mac). Jeg har også begynt å bruke protoypingsverktøyet <a href="http://balsamiq.com">Balsamiq</a>. Hvis jeg skal gjøre mer grafiske ting, gjør jeg det i <a href="http://www.photoshop.com/">Photoshop</a>. Photoshop brukes også flittig i forbindelse med redigering av bilder. Til daglig går det ellers mye i MS Office. Jeg er venn med både Word og PowerPoint og er vel en av de 20% som bruker mer enn et gjennomsnittlig antall funksjoner i disse programmene.</p>

<p>
Når jeg lager oversikt over informasjonsarktitektur, for eksempel for et intranett eller en webside, begynner jeg som regel med gule lapper i en workshop. De gule lappene blir deretter ført over i <a href="http://www.mindjet.com/">MindManager</a> som er et supert verktøy for å modellere informasjonsarkitektur. I mitt siste webprosjekt ble strukturtreet fra MindManager laget om til en XML-fil som ble importert inn i SharePoint ved hjelp av et script. Dermed ble alle sidene opprettet automagisk. Det sparte oss for masse museklikk.</p>

<p>
Til brukertesting har vi en egen maskin med testverktøyet <a href="http://www.techsmith.com/morae.asp">Morae</a>, som sørger for videoopptak og overføring fra et rom til et annet. Jeg liker også godt å bruke det avanserte Excel-arket <a href="http://www.userfocus.co.uk/resources/datalogger.html">Datalogger</a> til å ta vare på resultatene fra brukertester.</p>

<p>
Jeg er ellers en ivrig bruker av <a href="http://www.techsmith.com/snagit/default.asp">Snagit</a>, som er veldig praktisk når jeg skal ta bilder av deler av et skjermbilde. </p>

<p>Jeg trives best når jeg har <a href="http://www.clue-international.com/">Clue</a> installert på pc-en. Synes det er veldig greit å bruke til oppslag av ord.</p>

<p>
På telefonen min har jeg diverse apps installert, men er nok ikke den som tilbringer mest tid i Appstore. Jeg bruker blant annet apps for å sjekke <a href="http://facebook.com">Facebook</a>, <a href="http://twitter.com">Twitter</a>, <a href="http://linkedin.com">Linkedin</a> og <a href="http://flickr.com">Flickr</a> på telefonen. Jeg har også noen spill og andre morsomheter installert.</p>

<p>
I forbindelse med bokskrivingen har <a href="http://dropbox.com">Dropbox</a> vært uvurderlig. Såå mye bedre enn å sende utkast frem og tilbake.</p>


<%= q4_dream_setup? %>

<p>
Drømmeutstyret mitt ville vært fint å se på. Det ville vært helt trådløst. Ingen lange kabler som lå der og slanget seg over pulten og som måtte plugges om for hver gang jeg fant det for godt å flytte på utstyret. Det skulle være en stor og god skjerm, en fin og tynn bærbar maskin med litt mindre skjerm, men med høy nok hastighet og lagringskapasitet til at jeg ikke trengte å tenke på det. Det skulle være fine, små høytalere med godlyd, lydløs kopimaskin, skanner, fotoskriver, iPhone-lader og minnekortleser integrert i oppsettet.</p>

<p>
Det skulle ikke være så prangende og ikke ta så stor plass, samtidig som det var ergonomisk perfekt for meg. Kanskje det skulle få plass i et sånt skrivebord som foldet seg fint sammen? Jeg ville gjerne bestemme fargen selv (etter dagsform) og etter at jeg hadde pakket alt sammen ut av esken skulle det bare virke med en gang. All programvaren som jeg liker skulle være ferdig installert og alle filene mine skulle ligge der fine og ryddige, og klare til bruk. Drømmeutstyret skulle få arbeidslysten og kreativiteten til å blomstre.</p>