
<%= interview_header @name, "" %>

<%= q1_who_are_you? %>

<p>Jeg heter Espen Dalløkken og er 34 år gammel fra Folldal i Hedmark. </p>

<p>Til daglig jobber jeg i <a href="http://finn.no">FINN.no</a> som Framsiearkitekt og trives ekstremt godt med det. I det daglige så jobber jeg mye med å forsøke hjelpe de andre framsieutviklerne til å kunne lage enda kulere ting enn vi allerede gjør.</p>

<p>I tillegg så jobber vi veldig mye med kompetansebygging og det å sørge for at vi har topp kvalitet på absolutt alt vi gjør. Det er utrolig gøy å jobbe sammen med de fordi de er en gruppe som spriker i alle retninger og det er bare veldig spennende. Å jobbe i et miljø som FINN hvor man har en veldig god blanding mellom tekniske personer og "normale" mennesker passer meg helt utmerket for da får man impulser også utenfor teknologi. </p>

<p>I tillegg til å jobbe så elsker jeg Vålerenga, sykler i marka, hører på musikk og se på film. Men, kort oppsummert så er jeg en nerd så da vet dere jo selv hvilke andre ting jeg driver med hjemme.</p>
 

<%= q2_what_hardware? %>

<p>Jeg har siden jeg begynte i FINN.no har jeg brukt en <a href="http://www.apple.com/macbookpro/">MacBook Pro</a> 2.66 GHZ Intel Core i7 med 8GB minne. I tillegg har jeg en <a href="http://www.apple.com/magicmouse/">Magic Mouse</a> og en skjerm av helt middelmådig kvalitet. Vekten og oppstartstiden på MacBooken er helt suveren og jeg kan ikke annet enn le når jeg ser noen av mine kolleger komme med sin HP "laptops" som veier sikkert 20 kilo og krever en power supply som er på størrelsen med en iPad. Hardwaren til Apple er helt klart sinnsvakt bra og det er vanskelig å gå over til noe annet. Faktisk, så måtte jeg bruke en HP med <a href="http://windows7.com">Windows 7</a> første ukene i jobben og jeg må si at jeg nok aldri vil føle noe savn etter Windows 7 og den helt absurde måten vinduer håndteres der. Maken til tivoli følelse som du hadde når du drev å skulle bytte vinduer skal du lete lenge etter... I tillegg veide den klumpen så mye at jeg aldri orket å bære den med hjem fra kontoret.</p>
 
<p>At jeg sitter på Mac vil sikkert glede mange av de jeg har diskutert Apple og hvor intenst jeg hater alt selskapet står for når det gjelder å låse brukere inne og mangel på åpenhet. Jeg har i alle år vært en lidenskapelig hater av Apple og magen min vrenges når jeg ser Steve Jobs. Hvorfor jeg ikke klarer han vet jeg ikke, men det bare er slik. Så hvorfor bruker jeg da alt mulig av Apple produkter? Vel, fordi jeg har ett prinsipp og det er at alle prinsipper bør man bryte. Derfor var det naturlig at jeg måtte velge Mac når jeg fikk muligheten, så kanskje jeg kunne begrunne mitt Apple hat med konkrete erfaringer og ikke bare gjetning :)</p>
 
<p>Vi har fått utdelt <a href="http://www.apple.com/iphone/">iPhone 4</a> med 16 GB minne og jeg klarte å grine meg til en <a href="http://www.apple.com/ipad/">iPad</a> også! Riktignok fulgte jeg ikke med særlig godt i timen, så jeg er vel en av de siste på kloden som kjøpte første iPad'en :) Jeg må si at iPad v 1 var ekstremt skuffende og jeg bruker den kun til å sjekke www.finn.no og hvordan det ser ut. Ytelsen på den er elendig og det meste er svært lite gjennomført. Den er klumpete, stor og altfor tung. Sønnen min er den eneste i familien som bruker den, han synes det er døds kult å tegne og se på brannbiler på YouTube på den.</p>

<p>Hjemme sitter jeg på en <a href="http://laptopcentre.ca/dell-latitude-d610-pentium-186ghz-dvdcdrw-wifi-p-622.html">Dell Latitude 622</a> som er 5-6 år gammel hvor jeg kjører dual-boot med siste versjon av <a href="http://ubuntu.com">Ubuntu</a> og <a href="http://windowsxp.com">Windows XP</a>. XP installasjonen står og rotner, mens Ubuntu instalasjonen bruker jeg ofte. </p>
	
<img src='/images/espen-dallokken/espen-laptop.jpg'>
	
<p>	
Denne har vært med meg siden jeg jobbet med musikktjenesten <a href="http://en.wikipedia.org/wiki/Ezmo">Ezmo</a>, så den har ekstremt stor nostalgisk verdi. Faktisk så har jeg også <a href="http://wii.com">Nintendo Wii</a> maskinen vi brukte til å spille Wii Tennis på i Ezmo. Bruker den desverre ikke så ofte nå som jeg har barn, men jeg håper det endrer seg når han blir større. </p>

<p>Jeg har ikke så mange andre gadgets. Min interesse for hardware og gadgets blir stadig mindre jo lengre jeg jobber som utvikler. Jeg vet ikke helt hvorfor, men det er kanskje den stadige skuffelsen over gadgets som ikke innfrir løftene produsentene kommer på. Tidligere hadde jeg en <a href="http://www.htc.com/no/product/hero/overview.html">HTC Hero</a> med Android på som jeg merker at jeg savner mer og mer jo oftere jeg kjenner tentaklene fra Apple klebe seg rundt meg når jeg bruke iPhonen. Det jeg savner mest fra den er <a href="http://www.androidblip.com/android-games/robot-war-127492.html">RobotWars</a> som er et helt genialt kult spill du kan bruke så uendelig mye tid på.</p>

<p>Kjærsten min har en <a href="http://apple.com/macbookair">MacBook Air</a> og jeg må si det er en helt vanvittig kul gadget! At en maskin kan være så utrolig lett og samtidig kunne gjøre det meste er utrolig. Den er ikke som sånne netbooks hvor du må bruke pinsett for å treffe tastene. Du tenker ikke på at du er på en liten maskin før du løfter den mellom to fingre og tenker at "denne veier jo mindre enn iPaden". Så Air'en har blitt et veldig kjærkomment tilskudd til familien. Spesielt for meg som tidligere måtte være IT-support for Dell maskinen vi hadde før.... </p>
 

<%= q3_what_software? %>

<p>Jeg vil si at som utvikler er jeg langt mer fornøyd med Ubuntu enn <a href="http://www.apple.com/macosx/">OS X</a>. Det totale fraværet av en plan for keyboard shortcuts i OS X plager meg daglig, altfor mange ting krever at jeg må bruke mus. Windows og Ubuntu er milevidt overlegent OS X i så henseende. Så hvorfor alle utviklere mener OS X er så mye bedre begriper jeg ikke. Jeg har en mistanke om at de fleste liker Apple produkter fordi det øker dame-tekket deres.
</p>

<p>Til daglig så sitter jeg mye i <a href="http://www.jetbrains.com/idea/">IntelliJ</a>, som er helt greit. Til tross for at brukervennligheten i produktet er på et absolutt lavmål så lærer man seg tilslutt hvordan man overlever og kan nyte all refactoring-støtten som finnes. Jeg har i flere år jobbet i <a href="http://eclipse.org">Eclipse</a> og jeg må faktisk innrømme jeg ofte savner Eclipse, men det går sikkert over. Annet enn det bruker jeg <a href="http://macromates.com/">TextMate</a> til f.eks å jobbe med <a href="http://nodejs.org/">NodeJS</a> eller om jeg bare skal prototype noe HTML-greier, men jeg liker meg også i <a href="http://en.wikipedia.org/wiki/Vi">Vi</a>.</p>

<p><a href="http://freemind.sourceforge.net/wiki/index.php/Main_Page">FreeMind</a> er et sinnsvakt bra mind-mapping program som har vært med meg nesten hele min karriere. Det er briljant enkelt og uten altfor mange fancy funksjoner. Det løser ting enkelt og uten altfor mye støy. Kanskje mitt favoritt program gjennom tidene.</p>
 
<p>Jeg har holdt en del foredrag de siste årene og da bruker jeg ofte <a href="http://www.evernote.com/">Evernote</a> til å skrible ned ideer til foredrag og jeg jobber også ofte videre med dem der. Selv om jeg må nok innrømme at de fleste ideene kommer nok når jeg skriver i <a href="http://www.moleskine.com/">Moleskin</a> boken min. Det er noe med papir og blyant som bare ikke kan gjenskapes digitalt når du sitter å "doodler" og tenker. </p>

<p><a href="http://adium.im/">Adium</a> hjelper holde alle IMene i sjakk, <a href="http://www.skype.com/intl/no/home">Skype</a> bruker jeg til å snakke med familie rundt omkring, <a href="http://www.tweetdeck.com/">TweetDeck</a> til twittring. Jeg bruker også en del Adobe produkter som <a href="http://www.photoshop.com">Photoshop</a>, <a href="http://www.adobe.com/flash">Flash</a> og <a href="http://www.adobe.com/products/flashbuilder/">Flash Builder</a>. Tidligere jobbet jeg mye med <a href="http://www.adobe.com/products/flex/">Flex</a> og det hender jeg sniker meg til litt kvalitets tid med det enda. <a href="http://skitch.com/">Skitch</a> er overlegen til å ta screenshots og legge på kommentarer, det er en ren fryd å bruke.</p>

<p>I jobben bruker jeg mye webbaserte verktøy som <a href="http://www.atlassian.com/software/confluence/">Confluence</a> Wiki, <a href="http://www.atlassian.com/software/jira/">JIRA</a> og slike ting. Jeg elsker wiki og er notorisk til å pøse ting inn i wikiene der jeg jobber. I tillegg så har vi endelig begynt å bruke en del <a href="http://en.wikipedia.org/wiki/IRC">IRC</a> i FINN og det er dødskult. IRC har så utrolig mange ting som gjør det langt bedre enn alt av IM klienter der ute når det gjelder jobb. Det får en jo også til å føle seg ung igjen å kunne logge på IRC og skrive <em>asl?</em> til dine kolleger :)</p>

<p>Jeg må bare anbefale alle å installere <a href="http://reederapp.com/">Reeder</a> for OS X og iPhone. Det er en helt sinnsykt bra feed-leser som har gjort at jeg aldri mer går inn i <a href="http://www.google.com/reader">Google Reader</a> men nyter den helt utrolig lekre og funksjonelle applikasjonen. En stund sluttet jeg å lese feeds, men takket være Reeder så har jeg kunnet gjøre det igjen. Virkelig en stilstudie i hvordan man kan lage en funksjonell og sexy applikasjon det der.</p>

<p>Amazon sine <a href="http://itunes.apple.com/us/app/kindle/id302584613?mt=8">Kindle lesere</a> til iPhone/iPad er helt genialt og jeg må si at synche mekanismen der er helt overlegen. Jeg tror jeg kommer til å kjøpe neste versjon av Kindle. På min iPhone bruker jeg <a href="http://www.tweetdeck.com/">TweetDeck</a> til å følge med på Twitter og i FINN bruker vi <a href="http://yammer.com">Yammer</a> en del så jeg bruker det også på telefonen.</p>

<p>Jeg jobber mye med web og nettleseren min er viktig. Tidligere har jeg alltid brukt <a href="http://firefox.com/">Firefox</a> og vært med å utvikle add-ons til den nettleseren, men jeg må si at så bloated og treg som den har vært i det siste så må jeg inrømme jeg har byttet til <a href="http://www.chromium.org/">Chromium</a>. </p>

<p>All personlig e-post sendes inn til Google for analyse gjennom <a href="http://gmail.com">Gmail</a>, men hva gjør vel litt reklame og sporing når produktet er så jævlig bra å bruke. Særlig keyboard shortcutene i Gmail er helt utrolig bra og gjør at jeg aldri mer vil ha en mail klient. </p>

<p>Ettersom jeg er en webutvikler så bruker jeg selvsagt Dev channelene til Chromium og ikke Chrome ;) Jeg anbefaler alle lesere å bruke Chromium med Takoa themet og Tea Party Theme i GMail. Da vil du garantert ha et lykkeligere og mer meningsfylt liv!</p>


<%= q4_dream_setup? %>

<p>Jeg bare SKAL ha en <a href="http://www.noteslate.com/">NoteSlate</a>. Det virker være det nærmeste jeg kommer den ultimate gadget. Jeg tror virkelig den kan være den digitale greia som klarer å konkurere med blyant og papir, så den skal jeg ha så snart den kommer. I jobb sammenheng kunne jeg tenkt meg en diger skjerm, kanskje 30 tommers wide screen. Jeg mener det ikke er noe som heter en for stor skjerm, bare folk som er dårlig vant!</p>

<p>Hjemme kunne jeg godt tenkt meg en 80 tommers TV, jeg tror faktisk ikke jeg kan få for stor TV. Gjerne en TV hvor jeg ikke har noen decoder eller andre boxer som jeg trenger. Alt er i TVen og alt av programvare og slikt kommer via web sånn at jeg har det samme på TV som på telefonen, Mac'en eller PCen. Jeg tenker da ikke på de utrolig primitive greiene som er i Samsung TVene nå om dagen.</p>

<p>Jeg har også lyst på neste versjon <a href="http://amazon.com/kindle">Kindle</a> fordi den er liten og lett samtidig som den kan brukes til å lese over alt. I hjemmet kunne jeg ønske meg en sånn robot-støvsuger fordi jeg er litt lei av å gå rundt med den støvsugeren. </p>

<p>Jeg merker at dette ble kanskje ikke så veldig spenstig, men det er kanskje fordi jeg egentlig ikke følger så mye med på gadget fronten.</p>
