
<%= interview_header @name, "" %>


<%= q1_who_are_you? %>

<p>
Jeg utvikler og markedsfører <a href="http://makeplans.no">MakePlans.no</a> som er en web-applikasjon for timebestilling og utleie. 
Da det tar tid å få gjort nye prosjekter til en suksess så bruker jeg omtrent halvparten av tiden min 
til å jobbe freelance og lager da web-applikasjoner, facebook/twitter-integrasjoner samt litt 
rådgivning for å forbedre brukervennlighet, seo og hastighet på nettsider. Å jobbe for seg selv gir mye 
frihet som har resultert i at jeg har flyttet til Kuala Lumpur. Det er en utfordring å selge seg inn til 
nye kunder uten å være fysisk til stede men foreløpig har det gått brukbart. <a href="http://oyatel.no">IP-telefoni</a> og <a href="http://skype.com">Skype</a> hjelper.
</p>

<p>
Tidligere var jeg med å starte <a href="http://24sevenoffice.no">24SevenOffice</a> hvor jeg jobbet i syv år før jeg tok et hvileår med å 
<a href="http://photos.inspired.no/collections/1-iran/albums/1-dizin">stå snowboard i Iran</a>, gå opp noen <a href="http://travel.inspired.no/annapurna-circuit-trek">fjell i Himalaya</a> og gjøre yoga langs Ganges. 
På serversiden utvikler jeg hovedsaklig i <a href="http://ruby-lang.org">Ruby</a> og nesten utelukkende med bruk av rammeverket <a href="http://rubyonrails.org">Rails</a>. 
I 24SevenOffice jobbet jeg mye med T-SQL i Microsoft SQL Server (som er en utrolig god database), 
men nå er det sjelden jeg rører rundt i databasen (som regel PostgreSQL men blir noen ganger påtvunget MySQL). 
JavaScript brukes flittig i MakePlans og jeg prøver så langt det er praktisk mulig også å implementere 
de nye HTML5 API mulighetene som er veldig spennende. Leker også med mobil tilpasning gjort riktig.
</p>

<p>
Skulle gjerne bidratt mer til prosjekter som er åpen kildekode, foreløpig har jeg bare gjort noen 
små justeringer på et par prosjekter samt gitt ut et bildegalleri jeg har laget i Rails som har fått navnet 
<a href="http://balderapp.com">Balder</a>. Om man ikke kan bidra med tid oppfordrer jeg til å bidra finansielt med donasjoner. 
Jeg bruker selv en hel haug med fantastiske javascript/rails/ruby prosjekter som er gratis og open-source. 
Noen av disse er kritiske for tjenester jeg leverer og da synes jeg det er på sin plass å gå tilbake, både 
som takk og slik at utviklingen av disse prosjektene kan videreføres.
</p>

<p>
Mer info om meg finnes på <a href="http://twitter.com/EspenAntonsen">Twitter</a>, <a href="http://github.com/espen">Github</a> og på <a href="http://inspired.no">nettsiden min</a>.
</p>

<%= q2_what_hardware? %>
<p>
I Oslo delte jeg kontor med mine venner i <a href="http://nordaaker.no">Nordaaker</a> og hadde der en dugelig kontorstol samt en BenQ 24" 
skjerm (som selvfølgelig ble kritisert for kvalitet på fargegjengivelsen av <a href="http://twitter.com/arne">noen</a>). 
Det å jobbe med en stor skjerm er både behagelig og resulterer i høyere produktivitet, absolutt noe jeg 
savner nå som jeg kun benytter min 13" MacBook. Når jeg har ekstern skjerm bruker jeg et trådløst 
Apple tastatur som minner veldig om et laptop-tastatur (les; bedre enn vanlige tastatur). 
Nå bruker jeg egentlig bare en <a href="http://www.microsoft.com/hardware/en-us/p/intellimouse-explorer-3.0/B75-00113">Microsoft IntelliMouse</a> som ekstern utstyr på daglig basis. 
Dette er den eneste mus-modellen jeg har brukt de siste 10 årene. Nylig gikk jeg også til innkjøp av en 
Intel X-25-M 160GB SSD som var en vesentlig oppgrading i min 2,5 år gamle MacBook. 
Består din jobb av å sitte foran en datamaskin så trenger du en SSD. Den gamle disken er nå plassert i en 2,5" 
case som jeg kobler til av og til slik at TimeMachine kan ta vare på filene mine.
</p>

<p>
Skulderbagen min er fra <a href="http://www.moolight.com/alltogether.html">Moo</a> og ble donert til meg av snille, snille <a href="http://twitter.com/audungk">@audungk</a>. 
Fast inventar i denne flotte bagen er mine <a href="http://amazon.com/Sennheiser-PX200-Collapsible-High-Performance-Headphones/dp/B000089GN4">Sennheiser PX200</a> som er lydskjermende og kan pakkes sammen - 
perfekt til å reise med. Hjemme i leiligheten (eller på kontoret i Oslo) bruker jeg de større <a href="http://amazon.co.uk/Sennheiser-HD477-Headphones/dp/B00009QH7G">Sennheiser HD477</a> som har bedre lyd.
Begge disse er rimelige og gir god lydvaluta for pengene. Skal jeg virkelig nyte god musikk setter jeg meg heller foran <a href="http://www.audiophysic.de/yara_II_evolution/index_e.html">stereoanlegget</a> hjemme.
</p>

<p>
Bruker min iPhone 3GS flittig og har også en iPad. Sistnevnte brukes ikke så alt for mye men gir en mye 
bedre opplevelse til å lese RSS, lengre artikler (<a href="http://instapaper.com/">Instapaper</a>), nyheter og tweets enn på en vanlig datamaskin.
</p>

<%= q3_what_software? %>
<p>
Mesteparten av tiden sitter jeg å koder i <a href="http://macromates.com/">Textmate</a>. Ved hver ny bug-fix eller feature som jeg utvikler så 
bruker jeg <a href="http://git-scm.com/">git</a> til å lagre endringer som så ofte ender opp på <a href="https://github.com/">GitHub</a> (og iblant på <a href="http://gitorious.org/">Gitorious</a>). 
Hvis jeg skal implementere design så åpner jeg <a href="http://macrabbit.com/cssedit/">CSSEdit</a>. For blogger og andre enkle php-prosjekter så bruker 
jeg <a href="http://panic.com/transmit/">Transmit</a> til å overføre til ftp-servere, mens for Rails-prosjekter så bruker jeg <a href="https://github.com/capistrano/capistrano">Capistrano</a> til å 
legge ut nye versjoner når jeg ikke bruker fantastiske <a href="http://heroku.com">Heroku</a> som plattform. Er veldig fornøyd med alle disse verktøyene.
</p>

<p>
Andre programmer som jeg bruker daglig er <a href="http://alfredapp.com">Alfred</a> som er glimrende til å åpne applikasjoner og filer raskt (anbefaler powerpack'en), <a href="http://dropbox.com">Dropbox</a> har fått 
meg til å slutte å tenke på backup av viktige dokumenter og hjelper meg å dele prosjektfiler med kunder, 
<a href="http://www.sparrowmailapp.com/">Sparrow</a> har etter noen buggy versjoner blitt en brukbar epostklient, <a href="http://www.spotify.com">Spotify</a> premium er verdt hver krone og 
brukes flittig også på min iPhone, når jeg skal ringe til Norge bruker jeg <a href="http://www.tlphn.com/">Telephone</a> som er en simpel og 
brukervennlig SIP VoIP-klient. Kan også nevne <a href="http://mxcl.github.com/homebrew/">homebrew</a> som er essensielt for utviklere som bruker OSX; 
det er et pakkesystem som gjør det adskillig enklere å installere applikasjoner og biblioteker. For Rails-utviklere så vil jeg også anbefale <a href="http://pow.cx/">Pow</a> hvis man driver med har mange applikasjoner.
</p>

<p>
Jeg har prøvd forskjellige timeføringsystemer og kom frem til at <a href="http://www.getharvest.com/">Harvest</a> var det jeg likte best, men har nå gått over til en enkel tekstfil for å holde orden på timer som skal faktureres.
Når jeg skal opprette faktura eller sjekke rapporter etter regnskapsføreren har gjort sitt så sier det seg selv at jeg bruker 24SevenOffice. 
For kalender og epost bruker jeg <a href="http://www.google.com/apps/">Google Apps</a> og det er noe jeg anbefaler til alle.
</p>

<p>
Av netttjenster som jeg benytter som utvikler vil jeg i tillegg til nevnte Heroku anbefale <a href="http://aws.amazon.com/">Amazon AWS</a> S3 som jeg bruker til backup og fillagring, 
<a href="http://sendgrid.com/">SendGrid</a> som er en utmerket mail-server med mange API-muligheter som gjør at jeg slipper å drifte egen SMTP-server, 
<a href="http://www.clickatell.com/">Clickatell</a> har gode priser og er en stabil leverandør for utsending av SMS, 
<a href="http://hoptoadapp.com/">Hoptoad</a> er uunværelig for å holde orden på de (få) feil som oppstår i koden min, 
og <a href="http://mailchimp">MailChimp</a> er en flott måte å sende ut nyhetsbrev for (beklager <a href="http://mailmojo.no/">MailMojo</a> men dere trenger et API).
</p>

<%= q4_dream_setup? %>

<p>
En laptop som er raskere, tar mindre plass, lengere batteritid og er lettere er alt jeg ber om :) 
Min neste laptop blir nok en MacBook Air. Det er sjelden jeg putter en DVD inn i maskinen og 
vektforskjellen ville gjort ryggen min en stor tjeneste. 
Akkurat nå er det ikke noe særlig jeg savner bortsett fra en ekstern skjerm og et 
godt headset (ørepropper) til iPhone som ikke er in-ear. Jo, en ting er litt kjipt med min nåværende MacBook er skjermen har dårlig sortnivå og er tilnærmet ubrukelig når solen titter frem.
</p>

<p>
Noe jeg sliter med er å finne gode verktøy og en arbeidsflyt for håndtering av notater og oppgaver. 
Jeg brukte <a href="http://culturedcode.com/things/">Things</a> i en lang stund men brukte det ikke særlig aktivt. Det var for mye lister, prosjekter, 
tagger og annet styr. Jeg vil ha noe enkelt; trenger kun innboks, lister og forfallsdato for oppgaver, og det skal være tilgjengelig 
på alle enheter jeg bruker. Jeg vurderer nesten å lage en slags klone av <a href="http://tadalist.com/">Tadalist</a> med disse ekstra 
funksjonene samt implementere HTML5 offline cache og lokal lagring slik at man kan bruke den uten netttilgang. 
Har også prøvd <a href="http://www.6wunderkinder.com/wunderlist/">Wunderlist</a> men den har fått meg til å miste troen på å kompilere web-apps som native kode. 
For notater brukte jeg <a href="http://simplenoteapp.com/">Simplenote</a> og var veldig fornøyd bortsett fra synkronisasjonen. 
Nylig klarte den å slettee tre notater fra web-versjonen når den synkroniserte til iPhone-applikasjonen. Uninstall. 
Jeg bruker også <a href="http://www.evernote.com/">Evernote</a> men synes UI'et er bloated og overkill til enkle notater, 
men den er fin som database av bilder av ting jeg må huske og til matoppskrifter.
</p>