
<%= interview_header @name, "" %>

<%= q1_who_are_you? %>

<p>Jeg heter Jan-Olav Eide, er 46 år og jobber med systemutvikling og
arkitektur i en liten startup, OpenAdExchange, som driver med
"contextual advertising". På fritiden sykler jeg en del.</p>


<%= q2_what_hardware? %>

<p>Har en MacBook Pro på jobben, og en iMac 27'' hjemme, i tillegg til
en iPad og en iPhone. Apple over hele fjøla, altså. Unngår
Microsoft-verktøy så mye jeg kan. Ellers bruker vi en masse
Ubuntu-bokser i Amazon EC2 på jobben. Sky-utviklere lekker ikke minne,
vi lekker servere :-)</p>


<%= q3_what_software? %>

<p>Bruker Eclipse på jobb (i en SpringSource innpakning, SpringSource
Tool Suite (STS)). Har planer om å komme meg over på IDEA, men har
aldri tid til den tukletiden det tar å bli produktiv i en ny IDE. Vi
bruker en del Scala, og støtten for det i Eclipse er ikke bra, for å
si det mildt. Ellers bruker vi MySQL, Solr søkemotor med Cassandra som
NO-SQL datastore. </p>

<p>Open Source overalt altså. Privat bruker jeg Tacx
Training Center på sykkelrulla, dette er software som er koblet til en
motor på en valse og som varierer motstanden på bakhjulet i takt med
terrenget (som også vises på skjermen). I tillegg puls, kadens, watt
etc... Dette er er den eneste grunnen til at jeg bruker Windows 7 via
Parallels. </p>

<p>Musikken streames med WIMP via en AirportExpress til
stereoanlegget, CD-ene er arkivert for flere år siden.
</p>

<p>Ellers tre, snart fire sykler: en fantastisk Trek Madone 6.9 som er alt for
bra for en mosjonist som meg men en drøm å sykle på, en HardRocx
Helium for offroad-sykling og en gammel RockyMountain for "øl og
jobb". Mye som tyder på at det blir en 29'' Gary Fisher SuperFly i
løpet av våren og da er vel garasjen full. Har en Garmin Edge 705
sykkelcomputer som begynner å bli litt gammel...</p>


<%= q4_dream_setup? %>

<p>Er egentlig ganske fornøyd med det jeg har, men mer minne og en SSD disk
er jo alltid velkommen. 27 tommers skjerm med en dual Dell 21''
monitor ved siden av er egentlig nok skjerm for meg. </p>

<p>Går svanger med et nytt speilreflekskamera, og vakler mellom Canon EOS 550D og en
Nikon D5000. </p>

<p>Ellers har jeg lyst på Metrigear Vector pedaler når de
kommer ut. De måler effekten i tråkket på en innovativ måte ved hjelp
av strekklapper. Har ellers alltid lyst på den til en hver tid siste
versjon av toppmodellen av Garmin sykkelcomputer.</p>

