
<%= interview_header @name, "" %>

<%= q1_who_are_you? %>

<p>Jeg heter Jan-Olav Eide, er 46 år og jobber med systemutvikling og
arkitektur i en liten startup, <a href="http://www.openadex.com/">OpenAdExchange</a>, som driver med
<a href="http://en.wikipedia.org/wiki/Contextual_advertising">contextual advertising</a>. På fritiden sykler jeg en del.</p>


<%= q2_what_hardware? %>

<p>Har en <a href="http://www.apple.com/macbookpro/">Macbook Pro</a> på jobben, og en 27" <a href="http://www.apple.com/imac/">iMac</a> hjemme, i tillegg til
en <a href="http://www.apple.com/ipad">iPad</a> og en <a href="http://www.apple.com/iphone/">iPhone</a>. Apple over hele fjøla, altså. Unngår
Microsoft-verktøy så mye jeg kan. Ellers bruker vi en masse
<a href="http://www.ubuntu.no/">Ubuntu</a>-bokser i <a href="http://aws.amazon.com/ec2/">Amazon EC2</a> på jobben. <a href="http://en.wikipedia.org/wiki/Cloud_computing">Sky</a>-utviklere lekker ikke minne,
vi lekker servere :-)</p>


<%= q3_what_software? %>

<p>Bruker <a href="http://www.eclipse.org/">Eclipse</a> på jobb (i en SpringSource innpakning, <a href="http://www.springsource.com/developer/sts">SpringSource
Tool Suite (STS)</a>). Har planer om å komme meg over på <a href="http://www.jetbrains.com/idea/">IDEA</a>, men har
aldri tid til den tukletiden det tar å bli produktiv i en ny IDE. Vi
bruker en del <a href="http://www.scala-lang.org/">Scala</a>, og støtten for det i Eclipse er ikke bra, for å
si det mildt. Ellers bruker vi <a href="http://www.mysql.com/">MySQL</a>, <a href="http://lucene.apache.org/solr/">Solr</a> søkemotor med <a href="http://cassandra.apache.org/">Cassandra</a> som
NO-SQL datastore. </p>

<p>Open Source overalt altså. Privat bruker jeg <a href="http://www.google.no/url?sa=t&source=web&cd=3&ved=0CD0QFjAC&url=http%3A%2F%2Fnowbikes-fitness.com%2Fmerchant%2F271%2Ffiles%2FTrainingFlyer120110.pdf&ei=7uv-TfaOA4b4sgbeo73yDQ&usg=AFQjCNHuToeM50pYFsuudjbV79HHsoYQ9Q">Tacx
Training Center</a> på sykkelrulla, dette er software som er koblet til en
motor på en valse og som varierer motstanden på bakhjulet i takt med
terrenget (som også vises på skjermen). I tillegg puls, kadens, watt
etc... Dette er er den eneste grunnen til at jeg bruker <a href="http://windows.microsoft.com/nb-NO/windows7/products/home">Windows 7</a> via
<a href="http://www.parallels.com/">Parallels</a>. </p>

<p>Musikken streames med <a href="http://wimp.no/site/web3/view.ftl?page=index">WIMP</a> via en <a href="http://www.apple.com/no/airportexpress/">Airport Express</a> til
stereoanlegget, CD-ene er arkivert for flere år siden.
</p>

<p>Ellers tre, snart fire sykler: en fantastisk <a href="http://www.trekbikes.com/us/en/bikes/road/race_performance/madone_6_series">Trek Madone</a> 6.9 som er alt for
bra for en mosjonist som meg men en drøm å sykle på, en <a href="http://www.hardrocx.no/">HardRocx
Helium</a> for offroad-sykling og en gammel <a href="http://www.bikes.com/">RockyMountain</a> for "øl og
jobb". Mye som tyder på at det blir en 29'' <a href="http://fisherbikes.com/bike/model/superfly">Gary Fisher SuperFly</a> i
løpet av våren og da er vel garasjen full. Har en <a href="https://buy.garmin.com/shop/shop.do?pID=10885&ra=true">Garmin Edge 705</a>
sykkelcomputer som begynner å bli litt gammel...</p>


<%= q4_dream_setup? %>

<p>Er egentlig ganske fornøyd med det jeg har, men mer minne og en SSD disk
er jo alltid velkommen. 27 tommers skjerm med en dual Dell 21"
monitor ved siden av er egentlig nok skjerm for meg. </p>

<p>Går svanger med et nytt speilreflekskamera, og vakler mellom <a href="http://www.dinside.no/843759/canon-eos-550d">Canon EOS 550D</a> og en
<a href="http://www.teknofil.no/artikler/test_av_nikon_d5000/86324">Nikon D5000</a>. </p>

<p>Ellers har jeg lyst på <a href="http://www.metrigear.com/products/">Metrigear Vector</a> pedaler når de
kommer ut. De måler effekten i tråkket på en innovativ måte ved hjelp
av strekklapper. Har ellers alltid lyst på den til en hver tid siste
versjon av toppmodellen av Garmin sykkelcomputer.</p>

