
<%= interview_header @name, "" %>


<%= q1_who_are_you? %>

<p>
Jeg er en programmerer som brenner for programmering, men som
jobber med analyse, design og planlegging av softwareprosjekter innen
arbeidstiden. På kveldstid finner du meg ofte på fagmøter på i Oslos
utesteder, enten som deltager, som arrangør eller som foredragsholder.
</p>

<p>Jeg blogger på <a href="http://johannesbrodwall.com">johannesbrodwall.com</a> og tvitrer som <a href="http://twitter.com/jhannes">@jhannes</a>.</p>

<%= q2_what_hardware? %>

<p>
Jeg har fire laptops med <a href="http://windows.microsoft.com/en-US/windows7/products/home">Windows 7</a>. Hjemmemaskinen min er en
slepbar 17-tommers <a href="http://www.hardware.no/sok/?query=Toshiba+Qosmio">Toshiba Qosmio</a> som brukes til å programmere, skrive
mail, koordinere faglige aktiviteter og til å se på film. På
arbeidsplassen har jeg en anonym laptop med to eksterne 24-tommer
skjermer. Jeg har den ene skjermen på høykant, slik at jeg husker at
den er til referanseinformasjon, og ikke til å jobbe på. Tidligere
hadde jeg to skjermer i vannrett konfigurasjon og oppdaget at jeg ofte
satt skeivt og så på feil skjerm, med tilhørende ryggsmerter. Jeg har
nettopp kjøpt en Toshiba Netbook, men har ikke fått så mye bruk ut av
den som jeg skulle ønske. Den er litt for svak, men var billig.
</p>

<p>	
Jeg prøvde en Mac en stund, men fikk krampe i hånda og avsmak for
Steve Jobs i munnen. Når Windows 7 kom ut var jeg i grunnen fornøyd.
Det var det jeg trengte - verken mer eller mindre.
</p>

<p>
Jeg prøver å alltid holde mailboksene mine tomme og bruker
mobiltelefonen flittig til å lese og sortere unna innkommende mail.
Jeg har en <a href="http://www.mobilen.no/artikler/test_htc_desire_-_lett_aa_bli_glad_i/87833">HTC Desire</a>, og går og grubler på å oppgradere til en <a href="http://www.mobilen.no/artikler/htc_desire_z/88815">HTC
Desire Z</a> for å få gjort litt mer praktisk å skrive twitter-meldinger
og besvare mail.
</p>

<p>
I prosjektarbeid bruker jeg PC relativt lite, jeg foretrekker i stedet
å tegne på A3 papir. Det er overraskende vanskelig å skaffe bra
tegnesaker i Norge. Jeg måtte dra til utlandet for å finne en A3
spiralblokk og <a href="http://www.sharpie.com/enUS/Pages/HomePage.aspx">Sharpie</a>-tusjer. Sharpie-tusjer er de beste tusjene.
</p>


<%= q3_what_software? %>

<p>
Jeg bruker <a href="http://www.eclipse.org/">Eclipse</a> til å programmere på. Jeg har prøvd å lære
meg <a href="http://www.jetbrains.com/idea/">IDEA IntelliJ</a>, men innså at jeg kun hadde cirka 5%
programmeringsfart å hente og en lang lærekurve. Jeg bruker mer tid i
<a href="http://www.google.com/chrome">Google Chrome</a> enn noen annen applikasjon. Jeg holder så mye som mulig
informasjon på cloud, spesielt <a href="http://gmail.com">GMail</a>, <a href="http://docs.google.com">Google Docs</a> og <a href="http://github.com">GitHub</a>. Som
Windows bruker er jeg glad i <a href="http://code.google.com/p/tortoisegit/">TortoiseGit</a> som Git-klient. Jeg er en sen
oppdager av <a href="http://www.dropbox.com">DropBox</a> (primært fordi min forrige kunde hadde en firewall
som blokkerte DropBox), men ser for meg å bruke dette mye mer i
framtiden.
</p>

<p>
Jeg kan heller ikke leve uten <a href="http://www.spotify.com">Spotify</a>.
</p>

<p>
Jeg bruker <a href="http://twicca.r246.jp/">Twicca</a> på mobilen for å holde meg oppdatert på twitter (det
ble mye bedre etter at jeg fant en Setting: Timeline -> Scroll
position when refreshing -> Top of read tweets), <a href="http://googlereader.blogspot.com/2010/11/android-google-reader-app-is-here.html">Google Reader App</a> for
å lese news på senga og <a href="http://www.audible.com/">Audible</a> for å høre på lydbøker på t-banen.
</p>

<%= q4_dream_setup? %>

<p>
Jeg ønsker meg en mobiltelefon som er akkurat lik HTC Desire Z,
men som har batteri som varer i mer enn 24 timer med normal flittig
bruk og med et knallbra kamera. Og så ønsker jeg en NetBook som
faktisk er kraftig nok til å programmere på og liten nok til å putte i
en liten skulderbag. Og kanskje en pad som ikke har så høy
trendy-faktor som <a href="http://www.apple.com/no/ipad/">iPad</a>.
</p>