
<%= interview_header @name, "" %>


<%= q1_who_are_you? %>

<p>Jeg heter Morten Tollefsen og er forskningsleder i <a href="http://medialt.no/">MediaLT</a>. Vårt firma jobber med IKT for funksjonshemmede. I tillegg til ulike forskningsposjekter jobber vi mye med web, tilgjengelighet og universell utforming. </p>
	
<p>Selv er jeg spesielt interessert i brukeropplevelse og mennesker med ulike forutsetninger og behov. Jeg tok hovedfag i databehandling på Universitetet i Oslo, og etter dette har jeg jobbet på universitetet og i Oslo kommune før jeg startet MediaLT sammen med Magne Lunde i 1999. Både Magne og jeg er blinde. Noen tror derfor at MediaLT kun jobber med synshemmede. Dette er helt feil. MediaLT fokuserer på universell utforming, og vi har dybdekompetanse om veldig mange brukergrupper.</p>

<p>Jeg har jobbet med web siden teknologien kom. Faktisk var jeg med på å sette opp en av de første serverne i Norge (Telenors forskningsinstitutt). Selv om jeg personlig er aller mest interessert i brukertesting følger jeg godt med, og er en aktiv deltaker i forskjellig standardiseringsarbeid. Jeg har f. eks mye kunnskap om alle <a href="http://www.w3.org/WAI/">WAI-standardene</a> (WCAG, UAAG, ARIA, ATAG osv).</p>


<%= q2_what_hardware? %>

<p>Jeg er vel en slags dingse-idiot. Jobben min gir muligheter for å teste mye ny teknologi, ja, det er vel egentlig en forutsetning for det arbeidet jeg gjør. Jeg er ikke Microsoft-hater, og trives nok aller best med Windows-baserte PCer. Det mest spesielle jeg bruker kalles en skjermleser. Skjermleseren kan vise tekst i punktskrift (blindeskrift) og lese opp tekst med syntetisk tale. I Norge brukes de kommersielle skjermleserne <a href="http://www.freedomscientific.com/products/fs/jaws-product-page.asp">Jaws</a>, <a href="http://www.gwmicro.com/Window-Eyes/">WindowEyes</a> og <a href="http://www.yourdolphin.com/productdetail.asp?id=5">Supernova</a>. Pga. jobben min bruker jeg alle disse. En skjermleser krever mye trening, men de som har lyst til å teste kan laste ned <a href="http://www.nvda-project.org/">NVDA</a>, slå av skjermen og prøve å surfe litt.</p>

<p>Unix var viktig da jeg studerte. Jeg bruker fortsatt <a href="http://www.linux.no/">Linux</a> en gang i blant, men de grafiske arbeidsmiljøene fungerer ikke så bra som Windows (<a href="http://www.gnome.org/">Gnome</a> er best med skjermleser).</p>

<p>Jeg kjøpte iPad før den kom til Norge. Den fungerer bra, og det er en innebygget skjermleser/forstørrer som heter <a href="http://www.apple.com/accessibility/ipad/vision.html">VoiceOver</a>. iPad er helt OK å konsumere med, men i alle fall som blind litt klønete å produsere med. Har ellers egentlig ikke så mye mer å by på enn en iPhone for meg. Derfor har Markus på 9 år lagt beslag på plata. Jeg bruker altså iPhone, og den er jeg i all hovedsak godt fornøyd med. Mac har jeg brukt i perioder, men akkurat nå lar ikke den maskinen seg starte. Den er helt OK å bruke for meg som blind, men som sagt innledningsvis er jeg aller mest konfortabel med PC.</p>

<p>Ellers har jeg en masse andre mer eller mindre nyttige dingser. Scanner er et bra hjelpemiddel, og den brukes hovedsaklig til optisk tegngjenkjenning (oversette bilde til tekst som kan leses med skjermleseren). Ellers har jeg en høyttaler jeg nesten må reklamere for: <a href="http://www.jawbone.com/speakers">Jawbox</a>! Den er så kul, og den bare funker!</p>


<%= q3_what_software? %>

<p>Jeg har alltid vært mer interessert i programvare enn maskinvare. For meg spiller det liten rolle om en mobil er liten eller bitteliten, men hva digsene kan brukes til er viktig. Menneske-maskin interaksjon er spennende, og mangelen på kunnskap om utviklingen av gode brukergrensesnitt er nærmest grenseløs:-)! Personlig opplever jeg dårlig design hele tiden, og veldig mange burde tatt en gjennomgang av det de lager! For de fleste gjelder dette nettsider! Ofte kan noen små grep gjøre store forskjeller i forhold til brukbarhet for veldig mange.</p>

<p>Jeg bruker selvsagt en masse programvare: operativsystemer, Office, nettlesere, medieavspillere, epost, ... I arbeidet mitt som forsker og i forhold til brukertesting av nettlesere mm. bruker jeg programvare for statistikk, opptak/registrering av hva som skjer, testverktøy for tilgjengelighet mm. Blant annet bruker jeg programvare fra Hisoftware for SharePoint: Accessibility Foundation Module og <a href="http://www.hisoftware.com/solutions/hisoftware-compliance-sheriff.aspx">Compliance Sheriff</a>. Dette er verktøy for validering av tilgjengelighet. Kan absolutt ikke erstatte mennesker, men er ekstremt nyttige for å få frem rapporter om et nettsted (masse funksjonalitet som går på sikkerhet mm. i tillegg til tilgjengelighet).</p>

<p>Et program jeg har brukt mye i mange år er <a href="http://www.sonycreativesoftware.com/soundforgesoftware">SoundForge</a>. Dette er et verktøy for lydredigering. Jeg har laget reportasjer, lydbøker for barn, fjernet støy fra opptak (f. eks. LP-plater) og mye mer. Har du lært deg tastaturkommandoene i dette programmet kan du jobbe ekstremt effektivt!</p>
<p>
Jeg bruker en hel haug apper for iPhone. Den desidert viktigste for meg er <a href="http://itunes.apple.com/no/app/trafikanten-sanntid/id299318111?mt=8">Trafikanten</a>. App'en er veldig nyttig, og brukergrensesnittet skulle jeg gjerne ha laget selv! Skikkelig bra! Jeg skriver mye på engelsk, og ordbøkene du kan laste ned til iPhone har jeg mye glede av. Ellers finner jeg apper for mange av interessene mine: langrenn, fuglesang, oppslagsverk, ... - og alt det andre som det rare hodet mitt er opptatt av. Apple produkter leveres med innebygget skjermleser, og dette burde snart Mcrosoft og andre leverandører også gjøre!</p>

<p>Vi i MediaLT har laget et system (både maskin- og programvare) som gjør at du kan styre en PC vha. tale. Foreløpig ikke diktering, men du kan styre musen, åpne programmer, formatere tekst, klippe ut og kopiere, sende epost, bokstavere (stave) og veldig mye mer. Talegjenkjenning er spennende teknologi, og i sommer har jeg også testet talegjenkjenning for <a href="http://www.nuance.com/">Nuance</a>. To apper for iPhone kan nå lastes ned gratis: <a href="http://www.nuance.com/for-business/by-product/dragon-search-iphone/index.htm">Dragon Search</a> og <a href="http://www.nuance.com/for-business/by-product/dragon-dictation-iphone/index.htm">Dragon Dictation</a>. Ikke så bra integrert i telefonen, kanskje, men likevel spennende for å bli kjent med hvordan talegjenkjenning fungerer.</p>


<%= q4_dream_setup? %>

<p>Jeg vil ha et videokamera som selv avgjør (og som aldrig tar feil) det beste utsnittet av en cene. Synstolking (forklaring av levende bilder, særlig for de som har nedsatt syn) skal lages helt automatisk, og legges ved som et valgfritt lydspor til videoen. På samme måte kan kameraet bukes live, og alt rundt meg kan beskrives av kameraet. Det beste med dette videokameraet er at det er ekstremt lite, faktisk nesten usynlig. Kan f.eks. sitte i en brille med en egen høretelefonpropp. I en senere versjon kan kameraet sannsynligvis sende signaler rett til syns- og hørselssentrene i hjernen, men den tanken e bittelitt skremmende selv for meg, hehe.</p>

<p>Av noe mer realistiske forhåpninger vil jeg trekke frem nettsteder. Det koster så lite å gjøre web'en bedre å bruke for mange flere! Jeg og andre eksperter kan hjelpe til, og selv om ikke alt kan brukes av alle, kan mye brukes av mange flere.</p>
