
<%= interview_header @name, "" %>


<%= q1_who_are_you? %>

<p>Mitt navn er Ole Christian Storesund. Jeg jobber som grafisk
designer i mitt eget firma <a
href="http://www.walterdesign.no/">Walter Design</a>. Jeg har kontor
på Laksevåg rett utenfor Bergen sentrum. Her sitter jeg og designer
for store og små kunder, både til trykk og web.</p>

<p>Det som er fantastisk med å drive sitt eget lille firma, er at man
ofte har muligheten for å jobbe mye mer variert enn man kanskje gjør
hvis man er ansatt i en fast stilling. I stedet for å kun sitte og
designe websider hele året, kan jeg jobbe med brosjyrer, plakater,
logoer og bedriftsprofiler i tillegg.</p>

<p>Når det gjelder webdesign så tar jeg meg som regel bare av det
visuelle, og har andre samarbeidspartnere som står for utvikling og
CMS. Men av og til på litt mindre webprosjekter koder jeg selv HTML og
CSS. Det er fordi jeg føler det er viktig å være oppdatert på
teknologier og hva som faktisk er mulig på web.</p>

<p>På fritiden er jeg far til en jente på snart 2 år, og med en jente
til på vei i januar.</p>


<%= q2_what_hardware? %>

<p>Jeg bruker stort sett kun Apple-produkter. Jeg har aldri hatt eller
brukt Windows-maskiner. Har ikke noe i mot Microsoft, men har rett og
slett bare blitt vant til å bruke Mac.</p>

<p><p>På kontoret har jeg en 3 år gammel <a href="http://www.apple.com/macpro/">Mac Pro</a> (2 x 2.8 GHz Quad Core) som
faktisk aldri har crashet (bank i bordet). Jeg stappet den proppfull
med RAM når jeg kjøpte den, og den er fremdeles mer enn god nok til
det arbeidet jeg gjør.</p>  Jeg kjører OSX Leopard på den. Har ikke våget
å oppgradere siden den er så stabil.</p>

<p>Den beste investeringen jeg har gjort, var å kjøpe en 30 tommers <a href="http://en.wikipedia.org/wiki/Apple_Cinema_Display">Apple
Cinema Display</a> for 3 år siden. Denne skjermen er helt vannvittig
bra. Den har masse piksler som jeg kan boltre meg på, og oppløsningen
er ikke så tett som på de aller nyeste skjermene. I tillegg er den er
matt, så jeg slipper å se speilbildet av meg selv når jeg jobber med
mørke flater.</p>

<p>Jeg har også koblet opp en kjempebillig LG skjerm. Denne er ukalibrert
og med fabrikkinnstillinger. På bakgrunnsbildet på denne står det
skrevet stort: "Reality check!". Det er her jeg tester hvordan folk
flest opplever websidene jeg designer. Det blir en del aha-opplevelser
når jeg tester designet på denne.</p>

<p>På hjemmekontoret deler jeg med min kone <a
href="http://www.siljeholte.no">Silje</a> en 27 tommers i7 <a href="http://www.apple.com/no/imac/">iMac</a> med en
ekstern 27 tommers <a href="http://www.dell.com/content/topics/topic.aspx/global/products/landing/en/ultrasharpmonitor?c=us&l=en&cs=04">Dell Ultrasharp</a> skjerm. Den maskinen er helt
vannvittig rask. Men er som regel okkupert av min kone. Jeg har
også en <a href="http://www.apple.com/no/macbookpro/">Macbook Pro</a>. Den er stort sett blitt erstattet av iMacen, så
den blir nok solgt i nærmeste fremtid.</p>

<p>Både på kontoret og på hjemmekontoret bruker jeg en <a href="http://www.google.no/url?sa=t&rct=j&q=logitech%20m500&source=web&cd=1&ved=0CC4QFjAA&url=http%3A%2F%2Fwww.logitech.com%2Fmice-pointers%2Fmice%2Fdevices%2F5743&ei=jompTrrHJIeK4gS8gSU&usg=AFQjCNG1RVE6GBoDc9LPvfF_oTJe4tntfw">Logitech M500</a>
mus. Den ligger godt i hånden, og jeg har programmert inn
tastekommandoen Command+W på tommeltasten. Dette gjør at det er mye
lettere å lukke masse vinduer etterhvert som jeg ser gjennom ting.</p>

<p>Jeg fikk et tegnebrett til jul av kona for noen år siden, men har
aldri helt klart å venne meg til å bruke det. Så nå det samler det
bare støv.</p>

<p>Jeg har en <a href="http://www.epson.com/cgi-bin/Store/ProductQuickSpec.jsp?BV_UseBVCookie=yes&infoType=Related&BV_EngineID=cccjadfemjmkmfgcfngcfkmdhjidfmh.0&oid=55197363&BV_SessionID=%40%40%40%401409677265.1319733674%40%40%40%40&nextPage=&BV_UseBVCookie=yes&query=">Epson Stylus 4800</a> A2 printer som jeg bruker til
prøvetrykk. Og en Samsung multifunksjon-skriver som brukes til
regnskap og enkle korrekturer.</p>

<p>Pga et par innbrudd i fjor på kontoret, er jeg blitt helt paranoid når
det gjelder backup. Jeg har alle prosjektene mine på en liten <a href="http://www.engadget.com/2008/10/30/western-digital-my-passport-studio-now-with-firewire-800/">My
Passport Firewire</a> disk. Når jeg er på jobb kjører jeg <a href="http://support.apple.com/kb/ht1427?viewlocale=no_NO">Time Machine</a>
backup på den, og når jeg kommer hjem kjører jeg en ny Time Machine på
disken. På den måten har jeg alltid 3 versjoner av filene mine.</p>

<p>Telefonen min er en <a
href="http://www.apple.com/no/iphone/">iPhone</a> 4. Det er den beste
dingsen jeg eier! Der har jeg alt, mail, kalender, podcaster, <a
href="http://www.dropbox.com/">Dropbox</a>, Twitter og med iOS5 har
jeg nå også bildestrømmen min der.</p>

<p>I tillegg til alt det tekniske utstyret har jeg en del basic
tegneredskaper som jeg bruker til skissearbeid. Passer, linjal,
millimeterpapir, limstifter, skalpell og teip. Jeg har en glasspult på
kontoret som jeg setter en lampe under når jeg vil trace ting. Det er
veldig praktisk når jeg jobber med custom typografi til logoer o.l.</p>


<%= q3_what_software? %>


<p><a href="http://www.photoshop.com/">Photoshop</a> til bildebehandling og webdesign. Hvis jeg bare kunne hatt
ett program, ville jeg valgt Photoshop.</p>

<p><a href="http://www.adobe.com/products/indesign.html">InDesign</a> når jeg designer trykksaker. Har brukt Indesign siden den
første CS-versjonen og er veldig glad at Quark fikk litt konkurranse
tidlig på 2000-tallet.</p>

<p><a href="http://www.adobe.com/products/illustrator.html">Illustrator</a> til logodesign og generell vektorbehandling (jeg er ikke
så begeistret for Illustrator, men det er nok mest fordi jeg ikke har
like god kompetanse der som jeg har i de andre 2 adobe programmene.)</p>

<p><a href="http://www.extensis.com/en/products/suitcasefusion3/overview.jsp">Suitcase Fusion</a> til font management.</p>

<p><a href="http://get.adobe.com/flashplayer/">Flash</a> bruker jeg de 2-3 gangene i året når kunder ønsker seg
interaktive bannerannonser.</p>

<p><a href="http://www.adobe.com/products/dreamweaver.html">Dreamweaver</a> bruker jeg når jeg koder websider. Jeg vet det er mange
webfolk som rynker på nesen når de hører det, men det er det
programmet jeg lærte å lage websider i, og jeg har ikke følt behov for
å lære meg noe annet.</p>

<p><a href="http://en.wikipedia.org/wiki/Microsoft_Office_for_Mac_2011">Microsoft Office</a> når jeg skal sakse innhold fra kunder.</p>

<p><a href="http://en.wikipedia.org/wiki/Mail_(application)">Mail.app</a>. Apples eget mailprogram. Der har jeg et system med en
smart-folder som er satt til å kun vise flaggete mailer. Denne mappen
er min 2-do-liste. Når det kommer inn en ny oppgave så flagger jeg den
mailen. Og når jeg er ferdig, unflagger jeg den.</p>

<p><a href="http://mailappetizer.com/">Mail.appetizer</a> er et fiffig lite program som viser nye mailer i et
gjennomsiktig vindu.</p>

<p><a href="http://derailer.org/paparazzi/">Paparazzi</a> når jeg vil ta skjermbilder av hele websider.</p>

<p>Et program som er veldig undervurdert og oversett er <a
href="http://www.adobe.com/products/bridge.html">Adobe Bridge</a>.
Dette er et topp program med masse kule muligheter og valg som mange
gjerne ikke vet om. Her kan man få preview av adobe-dokumenter, man
kan se alt innholdet i underliggende mapper, og man kan kontrollere
fargestyringen i alle de ulike Adobe progammene.</p>

<p>Privat bruker jeg hovedsaklig bare <a
href="http://www.apple.com/no/safari/">Safari</a> til nettsurfing, <a
href="http://www.apple.com/no/ilife/iphoto/">iPhoto</a> til å
organisere familiebilder og <a
href="http://www.videolan.org/vlc/">VLC</a> til å se på nedlastede
TV-serier.</p>


<%= q4_dream_setup? %>

<p>Når det gjelder maskinvare, så er det egentlig ikke noe konkret jeg
savner. Det hadde jo vært kult hvis man kunne bli kvitt alle
ledningene til datamaskinene.</p>

<p>Det kommer til å komme revolusjonerende produkter i fremtiden som snur
opp/ned på hvordan vi arbeider. Men hadde jeg visst hva det var nå, så
hadde jeg nok vært en rik mann.</p>

<p>Det jeg savner mest, er bedre båndbredde. Det går fremdeles tregt å ha
filer i "skyen" når et prosjekt består av mange gigabyte med filer.</p>

<p>På software-fronten skulle jeg ønske at OSX ble
oppløsningsuavhengig. Skriften i systemet blir bare mindre og mindre
for hver ny mac som lages. Og synet mitt blir bare dårligere og
dårligere med årene.</p>
