
<%= interview_header @name, "" %>


<%= q1_who_are_you? %>

<p>Jeg heter Rolf Rander Næss.  Jeg har jobbet i IT-konsulentbransjen i Oslo i 10 år som utvikler, systemarkitekt, prosjektleder, testleder og jobber nå som rådgiver hos Acando AS med fokus på virksomhetsarkitektur og sikkerhetsarkitektur.  I praksis jobber jeg med å produsere modeller av hvordan IT-systemer fungerer (eller bør fungere) og store mengder tekst for å forklare modellene.</p>
 
<%= q2_what_hardware? %>

<p>På jobb bruker jeg en Thinkpad X200 med Windows 7.  Maskinen er praktisk fordi den er liten og lett med en passe stor skjerm, men den kommer med 32-bit OS (64-bit har visst noen driverproblemer på akkurat denne maskinen) slik at jeg får ikke utnyttet alt minnet den er utstyrt med.
</p>

<p>Privat har jeg diverse bokser med ymse HW, som til sammen gir et oppsett med virtuelle nettverk, virtuelle brannmurer, virtuelle servere, zfs, upnp, nfs i en sonedelt nettverksmodell med nettverkskontakter i alle rom.  Og hvorfor gjøre det så komplisert?  Tja, jeg lærer ganske mye om nettverk, sky-teknologi, ymse operativsystemer og hardware, jeg har fleksibilitet til å kunne re-konfigurere deler av nettverket gjennom web- og ssh-forbindelser uten å flytte noen kabler og jeg kan eksperimentere med ny teknologi i et nettverk uten at det trenger gå ut over eksisterende funksjonalitet.  Med både TV og internet (og potensielt telefon, men jeg har ikke fasttelefon akkurat nå) basert på IP gir det også mening å ha et nettverk med både kabler og trådløs som gir mulighet til å koble på vilkårlige komponenter hvor som helst i huset.</p>



<%= q3_what_software? %>

<p>Samme som over, men over på software: Hvilke programmer og apps bruker du på jobb og fritid, hvordan passer de inn i arbeidsflyten din, hva er du fornøyd og mindre fornøyd med og hvorfor? Igjen så kan du gjerne ta med programvare du bruker til fritid og hobbyer også!
</p>

<p>På jobb går det mest i Word, Excel og PowerPoint.  Ikke fordi disse er spesielt velegnet til jobben som skal gjøres, men fordi de representerer en slags standard man kan forvente at alle har tilgang til, og som regel er kommunikasjonsevne viktigere enn teknisk virtuositet.
</p>

<p>Ellers er Firefox grensesnittet mot de aller, aller fleste tjenester jeg benytter.  Google søk, epost, dokumenter og kart er alle flittig brukt.  Jeg har prøvd andre browsere som alle har sine fordeler, men jeg vender alltid tilbake til Firefox på grunn av Firebug, Stylish, Delicious-plugin (om de nå bare klarer å få modernisert den til å virke med nyere versjoner) og Garmin-plugin (mer om denne under).
</p>

<p>Jeg tar litt bilder, og disse etterbehandler jeg med Bibble Pro.  Dette er et program først og fremst for å konvertere RAW-filer til JPG, men med gode manipulerings-muligheter.  Dette er såkalt "non destructive editing" hvor endringene man gjør blir lagret i en separat fil og det gjøres ingen endringer i originalen.  Dette er ikke et pixel-editing program som Photoshop eller Gimp, men lar deg gjøre justeringer av kontrast, eksponering, beskjæring, fargebalanse og lignende som man normalt ville kunne gjøre i et mørkerom (bare mye billigere og enklere).  Dessuten er det veldig enkelt å kopiere et sett av endringer/innstillinger gjort på ett bilde til et sett av bilder, det er optimalisert for å behandle store mengder bilder i batch.
</p>

<p>Tilbake til Garmin.  Jeg driver litt med landeveissykling og bruker to uavhengige, men nesten like systemer for å føre en logg over dette: Endomondo er en applikasjon installert på mobiltelefonen som sporer hvor jeg sykler vha. telefonens innebygde GPS.  Dette lastes opp til www.endomondo.com hvor jeg får en treningsdagbok med alle de detaljer applikasjonen klarer fange eller jeg taster inn.  Samtidig har jeg en Garmin GPS/pulsklokke som laster opp tilsvarende til connect.garmin.com.  Endomondo er veldig fin fordi den har en del "sosiale" funksjoner hvor man kan sammenligne sin egen trening med venners, samt at telefonen laster opp data automatisk.  Imidlertid kjøpte jeg en Garmin i tillegg fordi denne måler flere parametre (mellomtider, puls og tråkkfrekvens) og har flere verktøy for analyse av informasjonen.  Data fra Garmin-enheten kan dessuten også lastes opp til Endomondo.  Så akkurat nå bruker jeg to tjenester for mer eller mindre det samme, det blir nok Garmin som overlever på sikt.
</p>

<p>For å fordele media rundt om kring i huset bruker jeg en Mediatomb UPnP-server som leverer innhold til en WD Live-boks, Playstation 3 (selv om denne ikke støtter de formater jeg bruker, så den har mindre nytte her), SmartShare-applikasjonen på LG-telefonen og PlugPlayer på mac.  PlugPlayer og SmartShare kan fungere som et UPnP-control-point, som betyr at jeg kan bruke denne for å styre hvilke filer fra Mediatomb som skal sendes til hvilke enheter.
</p> 

<%= q4_dream_setup? %>

<p>Hvis du kunne få hva du ville av digitale, elektroniske eller mekaniske verktøy, hva ville du da ha? Kan både være "ekte" dvs ting som faktisk kan kjøpes i butikken ("jeg har lyst på en diger flatskjerm"), eller fri fantasi/science fiction ("jeg vil styre datamaskinen min med tankekraft"). Bare kjør på! :)
</p>

<p>Tja, jeg skulle alltids hatt mer HW i "skyen" min for å kunne eksperimentere med feks. ulike nettverk/cluster-filsystem.  Dessuten er oppsettet veldig sårbart når alt kjører på samme HW.</p>

<p>Videre skulle jeg ønske UPnP/DLNA var litt bedre støttet.  Dette virker som en god ide som lider under å være "design by committee".  Det er veldig mye funksjonalitet og sannsynligvis ganske "over engineered" slik at det er ingen enheter som støtter det skikkelig, fullt ut og smidig, og jeg mistenker at det er bare medlemmene i DLNA-organisasjonen som har noe særlig interesse av å få det til å virke.</p>
