
<%= interview_header @name, "" %>

<%= q1_who_are_you? %>

<p>Jeg heter Rune Hafskjær (<a href="http://www.facebook.com/profile.php?id=558136920">Facebook</a>, <a href="http://twitter.com/#!/hafskjer">Twitter</a>, <a href="http://www.linkedin.com/profile/view?id=10837592&trk=tab_pro">LinkedIn</a>) og er 39 år gammel, godt gift og med en datter på fire og et halvt år. Bor i en deilig trekkfull villa på Lilleaker i Oslo. Nå er jeg programsjef for P4s lokalradiosatsing P5 i Norges fire største byer, men har over 17 års fartstid i P4 i diverse stillinger.</p>
 
<p>De siste femten årene, nærmest på si, har jeg hatt ansvaret for P4s Ikt-utviklingsavdeling plassert ved hovedkontoret på Lillehammer. Årsaken er at vi ikke fant hyllevare for å etablere/håndtere P4 og derfor besluttet å lage løsninger selv. Vi lager, videreutvikler og drifter derfor et etterhvert ganske avansert og ledende Content Management System for radio, som støtter all innholdsproduksjon, informasjonsflyt, formatkontroll etc mellom et stort antall studioer 24/7.</p>

<%= q2_what_hardware? %>

<p>Jeg er superinteressert i innovative ikt-løsninger som gir konkurransefordeler og gjør ting på en moderne måte, men overhodet ikke interessert i CPU, hardware etc. Jeg jobber på en <a href="http://www.hardware.no/artikler/dell_xps_m1330/43577">Dell XPS M1330</a> som til tross for Windows Vista har gjort en superduper jobb for meg de siste tre-fire årene. </p>
	
<p>På mobilfronten har jeg en gammel og kjedelig <a href="http://www.htc.com/no/product/magic/overview.html">HTC Magic</a>. Ellers har jeg både en <a href="http://www.apple.com/ipad/">iPad</a> og <a href="http://www.samsung.com/no/consumer/mobile/mobilephones/mobilephones/GT-P1000MSANEE/index.idx?pagetype=prd_detail">Samsung TAB</a> og tilhører de som bestemt mener TAB’en er best. iPad er fint i sofaen, men TAB har en mye bedre formfaktor som gjør den adskillig mer håndterbar og transportabel. Sammen med mitt <a href="http://www.bose.no/EU/en/home-entertainment/headphones-and-headsets/acoustic-noise-cancelling-headphones/qc3/">Bose QuietComfort 3</a> headset med noice cancelling har jeg perfekt reisefølge. Legg til overlegen formatstøtte og Flash, så trenger man ikke PC på småreiser. Som FM-radio (jeg hører MYE radio) bruker jeg en iPod Nano, når jeg ikke streamer. Og så har jeg naturligvis både Dab- og nettradio i de fleste rom hjemme.</p>
 
<p>På hjemmebane er jeg godt over snittet interessert i <a href="http://www.microsoft.com/norge/windows/products/winfamily/mediacenter/default.mspx">Windows Mediacenter</a>, og har skjult maskin/ledninger i stua og 4 terrabyte med musikk, filmer og tv-opptak koblet til et 37” <a href="http://www.loewe.no/no/produkte.html">Loewe</a>-fjernsyn og lyd. I andre etasje brukes <a href="http://www.xbox.com/nb-NO/">Xbox</a> som <a href="http://windows.microsoft.com/nb-NO/windows7/Set-up-a-Windows-Media-Center-Extender">Mediacenter Extender</a>. Mediacenter har riktignok aldri tatt av, og havner nå ofte litt i bakleksa, men løsningen er overlegen alt annet jeg har sett, gjør en super jobb og har høy WAF (wife acceptance factor) når det er satt opp skikkelig. Leker med tanken om å sette opp <a href="http://www.milliesoft.co.uk/index.php?option=com_content&view=article&id=69&Itemid=21">trådløs strømstyring</a> etc fra Mediacenteret, men ikke fått tid ennå.</p>
 
<p>Jeg har forøvrig Altibox fra <a href="http://www.vikenfiber.no/">Viken Fiber</a> inn i huset, med to set-top-bokser (som ikke brukes, bare leverer tv til mediacenteret) og 12 mbit internett. Skulle hatt høyere hastighet, men er ellers svært godt fornøyd med denne løsningen.</p>

<%= q3_what_software? %>

<p>Jeg må først nevne <a href="http://www.evernote.com/">Evernote</a>, fordi jeg knapt hadde klart å jobbe uten. Et fantastisk verktøy for å samle/huske informasjon om alt mulig og som automatisk synkroniserer til både mobilen, iPaden og TAB’en. På nett mener jeg <a href="http://www.google.com/chrome">Chrome</a> er den overlegent beste nettleseren, ellers bruker jeg de vanlige Office-applikasjonene og Outlook til e-post. På jobb bruker jeg alltid Twitter fra <a href="http://www.techhit.com/TwInbox/twitter_plugin_outlook.html">TwInbox</a> rett i Outlook, som fungerer svært praktisk.</p>
 
<p>Radiomessig bruker vi, og dermed jeg, <a href="http://www.davidsystems.com/en/">Digas</a> fra David Systems til organisering og avvikling på lufta og dermed også masse på kontor-PC’en. Jeg redigerer mye lyd i jobben min, og bruker stort sett superenkle <a href="http://audacity.sourceforge.net/">Audacity</a> til småting og <a href="http://www.adobe.com/products/audition.html">Adobe Audition</a> til litt større ting.</p>
 
<p>I mitt neste liv skal jeg bli designer. Jeg elsker å fikle med grafikk når jeg har tid. Eneste ulempe er at jeg av en eller annen grunn startet med å lære meg PaintShop og dermed har fulgt dette programmet og ikke Photoshop gjennom årene. Så nå får jeg til det meste i <a href="http://www.corel.com/servlet/Satellite/no/en/Product/1184951547051#versionTabview=tab1&tabview=tab0">Corel Paint Shop Pro Photo X2</a>.</p>
 
<p>På jobben bruker jeg forøvrig en blanding av <a href="http://www.skype.com/intl/no/home">Skype</a> og <a href="http://www.gotomeeting.com/fec/">Gotomeeting</a> til møter mellom kontorene våre. Og så bruker jeg <a href="http://www.gravic.com/remark/officeomr/">Remark Office OMR</a> sammen med en <a href="http://www.usa.canon.com/cusa/consumer/products/scanners/document_scanners/imageformula_dr_2010c_compact_color_scanner">Canon ImageFormula</a>-scanner til research av radiokanalene våre.</p>
 
<p>Til slutt må nevnes <a href="http://balsamiq.com/products/mockups">Balsamiq Mockups</a> til raske skisser av nye nett- og intranettprosjekter og <a href="http://www.yworks.com/en/products_yed_about.html">yEd Graph Editor</a> stil flytdiagrammer og lignende.</p>

<%= q4_dream_setup? %>

<p>Det vanlige: Bedre batterier, eller aller helst trådløs strøm som bare er der til enhver tid. Gratis nett overalt. Og at alle inkludert Steve Jobs blir enige om enkle måter å dele, kjøpe, sende musikk, video og filer mellom ulike enheter. <a href="http://uk.eye.fi/">Eye-fi</a> er en genial idé på veien til dette målet og jeg gleder meg til å prøve i praksis.</p>
