
<%= interview_header @name, "" %>


<%= q1_who_are_you? %>

<p>Jeg er en interaksjonsdesigner som jobber med sikkerhet i <a href="http://www.dnv.no/">Det Norske Veritas</a>. Jeg har utdanning innen industriell design, men har de siste 3 årene jobbet mindre som designer og mer generelt med den menneskelige faktorer i systemene vi omgir oss med. </p>

<p>Jeg er spesielt interessert i sikkerhetskritiske systemer med profesjonelle brukere, som for eksempel førerrom for tog, trafikkstyring av jernbanen og kontrollrom for prosessindustri. Mitt fokusområde er brukergrensesnittene til disse systemene. I sikkerhetskritiske systemer er det spesielt viktig med god brukervennlighet fordi konsekvensen av en feilhandling kan bli svært stor. </p>

<p>Når man jobber med slike systemer, ser man ikke bare på interaksjonen mellom mennesket og maskinen isolert sett, man må også se menneske-maskin interaksjonen i sammenheng med organisatoriske og tekniske forhold. Organisatoriske forhold kan for eksempel være opplæring og bemanning, mens tekniske faktorer kan være grad av automatisering.
</p>

<%= q2_what_hardware? %>

<p>På jobb har jeg en bærbar <a href="http://www.dell.com/us/dfb/p/latitude-d630/pd">Dell Latitude D630</a> som jeg har hatt i over 3 år. Jeg er mye “out of office” og behandler ikke alltid pc-en pent, men den har holdt stand, til tross for hardhendt behandling for eksempel under løping for å nå toget og i trillekoffert på brostein. Den siste tiden har den begynt å halte litt, og den må nok byttes ut snart. Men jeg har etterhvert begynt å bli nysgjerrig på å se hvor lenge jeg kan ha den og har tenkt til å vente så lenge som mulig. Det er jo heller ikke særlig miljøvennlig å produsere en datamaskin og jeg får en god følelse av å ha ting som varer lenge.</p>
 
<p>Når jeg er på kontoret har jeg maskinen i en dockingstasjon tilknyttet en 24" skjerm. Den tidligere sjefen min sverget til at folk blir mye mer effektive med stor skjerm, i følge ham hele 50 %. Jeg vet ikke om det stemmer at jeg er så mye mer effektiv, men jeg setter pris på den store skjermen. </p>

<p>Ellers av utstyr i jobbsammenheng jeg setter pris på, har jeg et sett støykansellerende hodetelefoner fra Bose. De er gode å ha i åpent kontorlandskap og på reise. </p>

<p>Jeg er ikke like fornøyd med min <a href="http://en.wikipedia.org/wiki/Nokia_E52">Nokia E52</a>. Det er veldig lett å taste feil og jeg klarer ofte å sende halvskrevne meldinger. Jeg blir også frustrert fordi ordene i ordlista bytter rekkefølge hele tiden, og fordi den skiller på små og store bokstaver slik at jeg plutselig får f. eks. "HELGA" med store bokstaver midt i en setning, bare fordi jeg skrev en melding til en 6-åring med kun store bokstaver en gang. </p>

<p>Jeg har også et par RSA SecurID-brikker for innlogging på diverse systemer, som, sammen med en passcode jeg får på mobil, kan forvirre meg skikkelig fra tid til annen.</p>
 
<p>Hjemme har jeg en 15" <a href="http://www.apple.com/macbook/">MacBook</a> jeg bruker som “sofamaskin” til surfing og musikk. Hvis jeg skal gjøre noe mer seriøse ting privat, låner jeg den steingamle stasjonære maskinen til samboeren min.</p>
 
<p>Av god gammeldags hardware, er jeg avhengig av blyant, saks og papir. Jeg må få ting ned på papir for å kunne sortere og analysere informasjon, og for å være kreativ. Hvis jeg jobber med informasjonsstrukturer eller funksjons- og oppgaveanalyser, kortsorterer jeg alltid ”analogt” for å prøve meg fram med ulike strukturer. Hvis jeg skriver tekster, synes jeg også ofte det er greit å printe ut teksten. Så klipper jeg den opp og tester ulike rekkefølger på avsnittene. Hvis jeg skal designe noe, må jeg også alltid starte med å tegne for hånd. Jeg har også god erfaring med å gjøre brukertester på papir, både av strukturer og mer visuelle papirprototyper.</p>


<%= q3_what_software? %>

<p>Jobbmaskinen min har nettopp fått installert <a href="http://windows.microsoft.com/en-US/windows7/products/home">Windows 7</a> med Office 2010 osv. IT-avdelingen på jobben nektet nesten å oppgradere maskinen siden den var så gammel, men det gikk greit. De første par ukene var den en drøm å jobbe på, rask å starte og responderte superkvikt. Men nå, kun 1 måned senere, er den blitt nesten like treg som den var med Windows XP.</p>
 
<p>I jobben min kommer jeg langt med e-post, regneark og tekstbehandling. Som de fleste andre store selskap, er det Office-pakken som gjelder. I tillegg bruker jeg <a href="http://www.mindjet.com/products/mindmanager-8-win/overview">MindManager</a> til å jobbe med funksjons- og oppgaveanalyser og informasjonsarkitektur. Til wireframes fungerer Powerpoint eller Visio greit. <a href="http://www.techsmith.com/snagit/">Snagit</a> bruker jeg når jeg gjør evalueringer av brukergrensesnitt. Jeg bruker det både for å hente ut skjermdumper og videosnutter av brukssekvenser, og til å tegne enkle forslag til redesign om det skulle være aktuelt. Siden jeg ikke har Adobe-pakka på jobb, har jeg blitt ganske god til å lage fine illustrasjoner med dårlige tegneverktøy. Med en liten innsats, kan man få til ganske mye bra med PowerPoint, ”drawing tools” i Word og Paint :)</p>
 
<p>Jeg er nok den som bruker mest gule lapper av kollegaene mine. Jeg bruker dem til alt mulig, men aller mest til huskelister. Jeg har aldri kommet i gang med ”task”-funksjonen i e-postprogrammer eller ”Remember the milk”-tjenester på nett.</p>

<p>På privaten bruker jeg <a href="http://www.photoshop.com/">Photoshop</a> og <a href="http://www.adobe.com/products/indesign.html">Indesign</a> hvis jeg skal gjøre noe grafisk, <a href="http://www.neooffice.org/neojava/en/index.php">Neo Office</a> hvis jeg skal skrive eller trenger regneark på Macen og <a href="http://simonhaertel.de/">Quinn</a> (Tetris) hvis jeg skal koble av med et spill. Til nettsurfing bruker jeg stort sett <a href="http://www.google.no/url?sa=t&source=web&cd=2&ved=0CDIQFjAB&url=http%3A%2F%2Fwww.mozilla.com%2Ffirefox%2Ffx%2F&ei=Ks_1Tf3kFozGswbtiP2aBg&usg=AFQjCNFAhZE81vHAcafsrBvHjCZxaBXBQQ">Firefox</a>. Jeg var <a href="http://www.opera.com/">Opera</a>-fan lenge, men den ble så ustabil etter hvert at jeg gikk over til Firefox for et halvt års tid siden. Det er litt vemodig, for jeg likte Opera godt.</p>
 
<p>Jeg synes det er veldig bra å se foredrag på nett. <a href="http://www.ted.com/talks">Ted Talks</a> er en favoritt. Det er også supert når konferanser legger ut presentasjoner i etterkant. Jeg anbefaler f. eks. <a href="http://www.ixda.org/resources/bill-verplank-opening-keynote">Bill Verplanks keynote fra Interactions 11</a>.</p>

<p>Jeg har et par nettjenester jeg bruker jevnlig og gjerne skryter av. For ”visuell inspirasjon” er jeg blitt helt avhengig av <a href="http://pinterest.com/">Pinterest</a>, som er en tjeneste for å samle på inspirerende bilder man kommer over på nett. I tillegg til å lage sin egen samling av bilder, kan man også følge hva andre folk legger ut. Jeg kan bruke timesvis på å surfe fra det ene fine eller morsomme bildet til det neste. I tillegg til at Pinterest er inspirerende, er det også nyttig. Det fungerer nemlig som en visuell bokmerkesamling fordi det lenkes til siden man henter bildet fra. Det kan være mye enklere å kjenne igjen en nettside fra et bilde, enn å huske hva slags navn man har gitt det under 'Favoritter' eller i Delicious. </p>

<p>For å følge med på ny, bra musikk som kommer på Spotify, bruker jeg <a href="http://pitchify.com/">Pitchify</a>. Det er en super tjeneste når man ikke vet helt hva man skal høre på!</p>

<%= q4_dream_setup? %>

<p>Brukersentrert design har vært en grunnpilar innen designdisiplinene i over 50 år, og vi designere har hatt en finger med i spillet i utvikling av mye datautstyr og programvare de siste 30 årene. Likevel er det fortsatt til en stor grad slik at mennesker må tilpasse seg datautstyret, heller enn at det er tilpasset oss og våre behov. Ofte har ikke interaksjonsdesignere vært involvert, og hvis de har vært det, får de kanskje ikke muligheten til å tenke radikalt på hva som virkelig kunne møte behovene til brukerne på best mulig måte. Interaksjonsdesignere kan for eksempel gjøre brukeropplevelsen av en nettløsning så god som bare det, men hvis det egentlig er en annen type tjeneste brukeren trenger, kommer man bare et lite stykke på veien.</p>
 
<p>Mitt drømmeutstyr er tilpasset meg og mine behov og krever ikke at jeg tilpasser meg det. Det fungerer alltid som ønsket når jeg trenger det. Jeg føler meg prioritert når jeg bruker drømmeutstyret mitt. Det er nemlig laget slik at mine handlinger alltid har førsteprioritet. Jeg har ofte dårlig tid, men det starter ikke med operasjoner som jeg ikke har bedt om uten å spørre meg om det passer. Som for eksempel å installere japanske og koreanske fonter i Adobe Acrobat X, som min jobb-pc gjorde i dag akkurat da jeg skulle ferdigstille en rapport før et møte og hadde knapt med tid.</p>
 
<p>Tilgang til filer er aldri noe problem. Jeg har jobbfiler, både fra DNVs servere og kundens servere, lett tilgjengelig. Jeg har også tilgang til mine private filer, uten at det blir en sammenblanding mellom jobb og privatliv. Selvom jeg ikke husker helt hvor jeg har lagret noe, hjelper alltid systemet meg med å finne tilbake til det uten for mye bry.</p>
 
<p>Drømmeutstyret mitt fører ikke til at jeg må lage meg workaround-systemer for å huske passord, slik jeg må huske i dag. IT-sikkerhet ivaretas på andre måter enn at minnefunksjonen min må belastes på vis den ikke er laget for.</p>
 
<p>Siden jeg ofte jobber sammen med andre, er drømmeutstyret mitt tilpasset flerbrukersituasjoner på en god måte. Det være seg presentasjonsutstyr eller det å jobbe på et dokument sammen. For at jeg skal slippe å reise så mye til møter, er det enkelt å sette opp videokonferanser ved hjelp av utstyret mitt. Det er aldri nødvendig å møte opp en halvtime før ett nettmøte for å sette opp det tekniske. Man opplever nemlig aldri at møtet går bort til å trykke seg igjennom utallige menyer for å få til å dele skjermbilder eller få lyden til å fungere.</p>
 
<p>Jeg er mye på reise, så drømmeutstyret mitt er kompakt og lett å bære med seg. Det krever ikke en stor pc-sekk, men er likevel ikke uhensiktsmessig lite. Utstyret er perfekt ergonomisk tilpasset meg og de ulike brukssituasjonene jeg er i, det være seg på kontoret, på toget, på kafeteriaen på en flyplass eller hjemme i sofaen. I fremtiden er det ikke noe snakk om musesyken eller belastningsskader grunnet for mye tid foran data’n.</p>
 
<p>Hvordan drømmeutstyret ser ut, vet jeg ikke. Men jeg tror at det vil være her om ikke altfor mange år og jeg gleder meg til det kommer.</p>

