
<%= interview_header @name, "" %>

<%= q1_who_are_you? %>

<p>Jeg er en allsidig softwareutvikler som er lidenskapelig opptatt av faget sitt. Jeg bruker mye tid på å holde meg oppdatert, på å lære både gamle og nye ting som kan gjøre meg til en bedre utvikler. Jeg er spesielt opptatt av kodekvalitet, smidige utviklingsmetoder og programmeringsspråk.</p>

<p>Et viktig steg i læringsprosessen er å sette egne ord på det en lærer, og forsøke å formidle det til andre. Derfor blogger jeg, og mener selv jeg har den beste bloggen dedikert til programmering som er skrevet på norsk (konkurransen er desverre ikke særlig stor).</p>

<p>Programmeringsbloggen finner du på blog.kjempekjekt.com. </p>


<%= q2_what_hardware? %>

<p>Jeg har en snart to år gammel 15,4 tommers Dell Precisio M4400 laptop (2.80 Intel Core2 Duo, 8 GB RAM, 250 GB harddisk). Operativsystemet er Windows 7 Ultimate. 64 bits OS og 8 GB minne er herlig, og det er lenge siden jeg sist bekymret meg for høyt minnebruk.</p>

<p>På jobb kobler jeg til en 24 tommers skjerm fra Dell, og kvalitetstastaturet SteelSeries 7G. For å unngå musesyken bruker jeg en Evoluent vertikalmus.</p>

<p>Telefonen er en HTC Magic. Det er den aller første Android-telefonen fra HTC, men den duger fortsatt for meg.</p>

<%= q3_what_software? %>

<p>Jeg bruker mye tid på nettet, og forsøker å velge online programmer fremfor ting som må installeres - for eksempel bruker jeg Gmail, for det meste av dokumenter klarer jeg meg med Google Documents, og jeg bruker AgileZen for prosjektstyring. </p>

<p>Favorittbrowseren er helt klart Chrome, men innimellom tar jeg i bruk både Opera og IE. FireFox har jeg faktisk ikke brukt på flere år.</p>

<h3>Programmering</h3>

<p>På jobb er hovedverktøyet Visual Studio (2008 og 2010), og vi benytter Subversion via TortoiseSVN til kildekodekontroll. For å jobbe mot SQL Server har jeg installert Toad, men er bare sånn passe fornøyd med det valget. </p>

<p>Den viktigste add-in'en til Visual Studio er CodeRush fra DevExpress. Den lar meg konvertere tanker til C#-kode mye raskere enn jeg ellers ville ha klart.</p>

<p>Min favoritteditor er derimot Vim, og den bruker jeg som regel når jeg programmerer andre ting enn C#. Jeg bruker Git for å versjonere filer, og som et alternativ til backup bruker jeg online harddisk-løsninger - den beste er DropBox, men jeg bruker også Live Mesh.</p>

<p>Som utvikler bruker jeg også mye tid i kommandolinjen. Og her kunne Microsoft ha gjort en bedre jobb. Jeg har forsøkt ulike erstatninger - blant annet Console2 - men alle har ulike svakheter. Jeg venter ennå på en god kommandolinje-opplevelse i Windows.</p>

<h3>Blogging</h3>
  
<p>Det har alltid bodd en liten grafiker i meg, og jeg lager blant annet endel illustrasjoner til bloggen min. Tidligere var jeg en flittig bruker av Photoshop, men nå klarer jeg meg stort sett med Paint.NET. I tillegg produserer jeg endel vektorgrafikk ved hjelp av InkScape. Og Cropper er et hendig, lite screenshot-verktøy jeg bruker ofte.</p>

<p>Jeg har også såvidt begynt å eksperimentere med å lage screencasts, og bruker da TipCam til å ta opp det som skjer på skjermen, og Windows Live Movie Maker til å produsere den ferdige filmen.</p>

<p>Blogpostene til programmeringsbloggen skriver jeg i Windows Live Writer, som integrerer fint mot alle kjente blogmotorer. </p>

<h3>Diverse verktøy</h3>

<p>Og så er det et aldri så lite hav av småverktøy jeg ikke klarer meg foruten. For å holde orden på en gazilion passord bruker jeg KeePass. AutoHotKey lar meg automatisere ting som er for kjedelig å gjøre manuelt, og Process Explorer (tidligere SysInternals, nå Microsoft) forteller meg alt jeg behøver å vite om PCen min.</p>

<p>PuTTY brukes til sikker kommunikasjon med kildekodesystemet, FileZilla bruker jeg til å overføre filer til og fra ftp-servere, og 7-Zip er etter min mening det beste zip-verktøyet på Windows-plattformen.</p>

<p>Jeg twitrer som @tormaroe, og forsøker å henge med på alt som skjer ved hjelp av TweetDeck. Og når jeg trenger å stimulere den høyre hjernehalvdelen hører jeg på musikk med Spotify.</p>

<p>Et siste verktøy som er ganske kjekt å ha er VirtualBox (tidligere Sun, nå Oracle). Det lar meg spinne opp ulike virtuelle maskiner med valgfritt OS. Jeg har en virtuell Ubuntu-installasjon jeg bruker endel når jeg trenger et Linux-miljø. VirtualBox kan kjøres i sømløs modus, hvor Linux-vinduene og Windows-vinduene lever side om side.., det er ganske genialt.</p>

<%= q4_dream_setup? %>

<p>Jeg skulle ønske jeg kunne migrere til Linux på heltid. Linux er liksom skreddersydd for måten jeg liker å jobbe på. Men jeg har alltid vært en Microsoft-utvikler, og ser det ikke som sansynlig at jeg vil kunne endre det med det første. </p>

<p>Av hardware har jeg lenge hatt lyst til å kjøpe meg Das Keyboard - et høykvalitets-tastatur med helt svarte taster. Men sålangt har jeg ikke våget. Kanskje jeg er redd tastaturet skal avsløre hvor dårlig tastefører jeg egentlig er.</p>

<p>Og så har jeg en liten drøm. Jeg skulle ønske jeg hadde en slags "Portable Programmer Terminal". Dette skulle være en liten laptop jeg kunne ha med meg overalt, helst på innerlommen, slik at jeg kunne programmere samme hvor jeg var når inspirasjonen traff meg. </p>

<p>Den skulle hatt lang batterilevetid og et godt tastatur, en browser, vim for editering, en god kommandolinje, og ikke så mye mer. Bortsett fra kompilatorer og runtime for en 40-50 programmeringsspråk selvfølgelig.</p>

<p>Hvis du kjenner til en dings som kan fylle disse kravene er jeg veldig interessert i å høre fra deg :P</p>