
<%= interview_header @name, "" %>

<%= q1_who_are_you? %>

<p>Mitt navn er Trygve Lie. Jeg er 37 år gammel og bor godt i Oslo, men er egentlig skikkelig i fra bøgda, rettere sagt <a href="http://no.wikipedia.org/wiki/Kyrksæterøra">Kyrksæterøra</a> i Sør-Trøndelag.</p>

<p>Nå har jeg nylig byttet jobb tilbake til en tidligere arbeidsgiver; til Norges nest største digitale medie nettverk, <a href="http://www.apdm.no/">A-pressen Digitale Medier (APDM)</a>. Vi håndterer nesten alt av den digitale satsningen til A-Pressen og her jobber jeg i hovedsak med utvikling av webapplikasjoner så det er mest HTML, CSS og JavaScript det går i. APDM har et veldig godt utviklermiljø og en veldig dyktig stab med mennesker som er genuint interesserte i det de driver på med så det er gøy.</p>

<p>Sammen med <a href="http://twitter.com/#!/gregersrygg">Gregers Gram Rygg</a> driver jeg også å arrangerer faglige meet-ups i regi av <a href="http://www.meetup.com/framsia/">Framsia</a> der vi fokuserer på utvikling basert på åpne web standarder som HTML, CSS, JavaScript, SVG etc. Dette har lenge vært teknologier mange har sett ned på og ikke tatt på alvor. Det ønsker vi å endre på.</p>

<%= q2_what_hardware? %>

<p>For meg er maskinvare verktøy på lik linje som hammer og sag er verktøy for en snekker og da går det yttre designet litt på båten egentlig. Når det er sagt må jeg si at endel leverandører har noe å lære av Apple når det gjelder det yttre designet. Dog; du finner ikke veldig mange Apple produkter hjemme hos meg.</p>

<p>På jobb har jeg to maskiner. En stasjonær og en bærbar så jeg har akkurat plukket opp en <a href="http://www.lenovo.com/us/products/professional-grade/thinkpad-laptops/t-series/t420-and-t520.shtml">Lenovo ThinkPad T420</a> laptop som jeg i løpet av noen få dager har blitt utrolig godt fornøyd med. Jeg har hatt flere ThinkPader de siste årene og det er maskiner som tåler en krig. Jeg har hatt en X61 (den er fortsatt i sporadisk i bruk) og en W500 og begge de har vært i ytterkantene av hva jeg har syntes har vært optimalt. X61 er liten, lett og kraftig, men har en for liten skjermoppløsning til å effektivt programere på. W500 har en ypperlig størrelse på oppløsningen, er kraftig og alt, men dessverre mer slepbar enn bærbar i lengden. T420 nærmer seg perfekt. Den har super oppløsning (14" med 1600x900), er passe stor og tikker inn på ca 2.3 kilo. Den har en i7-2620M 2.70GHz 64Bits prosessor og 4 gig ram så den er en kraftig plugg også. Det er rett og slett en maskin man lett kan traske rundt med i skulderveska en hel dag og jobbe hvor som helst på.</p>

<p>Den stasjonære jeg har på jobb er en kraftig HP burk, men det viktigste med den er stor skjerm. Jeg har to 19" på den som gir en god oversikt når jeg lever i en hverdag der jeg har editoren på en skjerm og browsere på den andre.</p>

<p>Som mobiltelefon har jeg i øyeblikket en <a href="http://www.htc.com/www/product/desirehd/specification.html">HTC Desire HD</a> som jeg også er godt fornøyd med. Den har en stor og behagelig skjerm og er kraftig nok til å kjøre Android slik at opplevelsen blir behagelig. Det er defintivt en telefon som knuser iPhone på mange områder, men det er noen små ting som irriterer meg med den. <a href="http://www.webkit.org/">WebKit</a> som kommer med den er alt for dårlig også skulle jeg svært gjerne sett at Android var litt flinkere til å rydde vekk programmer som legger seg i bakgrunnen. Jeg savner også at man kan tilegne stavekontroll til kontakter da jeg av naturlige årsaker bytter endel mellom å kommunisere på Norsk og Engelsk. Jeg savner også native støtte for lydformatet <a href="http://flac.sourceforge.net/">flac</a> på den.</p>

<p><img src='/images/trygve-lie/htc-desktop.jpg'></p>

<p><em>Fra topp: Opera Widget Manager, Obigo Widget Manager, Opera Mobile Labs release med preview av Device API'et, SSH klient, Mail klient, SMS Klient, FireFox beta, Opera Mini, Opera Mobile og Android default WebKit.</em></p>

<p>Hjemme har jeg egentlig ikke noe spesielt til maskinvare faktisk da laptop'en fyller behovet mitt. For et par år siden slo mekke-og-skru-genet inn så jeg handlet komponenter til en liten lydløs ITX maskin fra en <a href="ttp://www.mini-itx.com/">spesialist leverandør</a> i England. Den står nå og fungerer som en liten web server hjemme.</p>


<%= q3_what_software? %>

<p>OS messig er jeg i dag 100% på Linux og kjører i øyeblikket <a href="http://www.ubuntu.com/">Ubuntu</a>. Ubuntu har blitt virkelig bra. Jeg kjørte veldig lenge Windows XP av den veldig enkle grunn at det er, dessverre, det eneste OSet <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home">Internet Explorer (IE)</a> kjører på. Jeg har sett veldig mange som utvikler på andre OS og koder veldig lenge f.eks. bare opp mot <a href="http://www.mozilla.com">FireFox</a> og sjekker mot slutten i IE hvor da ting brekker. Ved å være på Windows var jeg veldig nære IE og kunne konstant sjekke opp mot den og fange feil tidlig for så å slippe en stor runde med debugging på slutten.
Nå har maskiner blitt kraftige nok til å ha et eller flere virtualiserte Windowser kjørende sammen med et fullt utviklingsmiljø. Verktøy for å bedrive test dreven utvikling opp mot browsere har også blitt mye bedre de siste par årene og da var det ikke lenger noen stor grunn til å sitte på Windows.</p>

<p>Som front-end fyr skulle jeg svært gjerne kunne si at jeg bruke noe ala <a href="http://cloud9ide.com/">Cloud9</a> som editor. Vi JavaScript utviklere møter oss litt selv i døra når utviklerverktøyene våre i hovedsak er skrevet i andre språk. De er litt for umodne enda, men snart. Som backend språk har jeg en liten finger inn i Java så IDEen jeg bruker er <a href="http://www.jetbrains.com/idea/">IntelliJ</a>. IntelliJ har de siste par versjonene har blitt veldig bra på både HTML, CSS og ikke minst JavaScript.</p>

<p>IntelliJ er jo en kommersiell software og selv om jeg er veldig pro Open Source betyr det ikke at jeg ikke vil betale for software. Jeg legger gjerne penger på bordet for Open Source også. Open Source og økonomi er et utfordrende tema og personlig synes jeg bedrifter skulle blitt flinkere til å betale for Open Source produkter. Det er med å sikre at prosjektene man baserer bedriften sin på faktisk lever videre. Jeg vil benytte anledningen til å oppfordre alle som leser dette som har økonomisk ansvar til å sette av en årlig post i budsjettet til donasjoner til Open Source software man benytter. Bytter man ut lisensiert software med Open Source synes jeg at en god del av det man årlig benyttet på lissenser burde årlig gå som donasjoner til det Open Source systemet man valgte.</p>

<p>Til utvikling benytter jeg også endel hjelpeverktøy. <a href="http://code.google.com/p/js-test-driver/">JsTestDriver</a> og <a href="http://www.jslint.com/">JSLint</a> er verktøy jeg benytter mye. Det ligger i JsTestDrivers natur at man må ha flere browsere kjørende og da har <a href="http://www.virtualbox.org/">VirtualBox</a> blitt en god venn for å virtualisere Windows. Eneste jeg savner er å kunne virtualisere OSX.</p>

<p>Ellers bruker jeg en haug med browsere. Jeg har som regel eldre, gjeldende og beta versjoner kjørende. Browsere har helt siden jeg logget på internett fasinert meg og det er vel kanskje også grunnen til at jeg har jobbet med disse teknologiene i godt over 13-14 år. For meg er egentlig ikke en browser en browser lenger. Browseren er for meg et "run time" miljø for HTML, CSS og JavaScript og jeg er temmelig sikker på at browseren er på vei til å bli det nye OSet. Jeg tror vi definitivt vil se flere systemer ala <a href="http://www.chromium.org/chromium-os">ChromeOS</a> snart.</p>

<p>Jeg skal ikke legge skjul på at jeg har en forkjærlighet for <a href="http://www.opera.com/">Opera</a> og at Opera har vært hovedbrowseren min i godt over ti år. Opera har alltid vært en underdog, men de er veldig tro mot webstandarder samt at de er innovative på mange områder. Jeg har aldri helt klart å bevise dette, men jeg har følelsen av at jeg har en langt mindre bug rate i andre browsere når jeg koder opp mot spesifikasjonene og bruker Opera som hoved browser.</p>

<p>Interessen for browsere gjenspeilser seg vel kanskje ekstra godt på mobilen min også. Hovedskjermen på mobilen har i hovedsak bare forskjellige browsere og web relaterte applikasjoner og jeg bruker f.eks. mye heller web klienten til Twitter enn en native applikasjon.</p>

<p>Utover det bruker jeg verktøy <a href="http://maven.apache.org/">Maven</a>, <a href="http://subversion.tigris.org/">Subversion</a>, <a href="http://git-scm.com/">Git</a>, <a href="http://www.openoffice.org/">Open Office</a>, <a href="http://projects.gnome.org/evolution/">Evolution</a> for mail, <a href="http://www.gimp.org/">Gimp</a> når jeg må gjøre noe grafikk relatert og i det siste har jeg brukt <a href="http://inkscape.org/">Inkscape</a> ganske mye. Med en bra støtte for <a href="http://www.w3.org/Graphics/SVG/">SVG</a> i de fleste browsere (nå også i IE9) har vektorgrafikk endelig inntatt browseren og Inkscape har blitt et skikkelig bra verktøy for vektorgrafikk.</p>

<p>Et annet verktøy jeg bruker mer og mer er <a href="http://ajax.dynatrace.com/ajax/en/">DynaTrace AJAX Edition</a>. Dessverre finnes den bare for Windows og støtter bare IE og FireFox, men den er virkelig et godt verktøy for å se hva som foregår når en webapplikasjon kjører i en browser.</p>

<p>Et verktøy jeg har lekt litt med i det siste og som jeg definitivt vil jobbe mer med fremover er <a href="http://nodejs.org/">node.js</a>. Node.js har helt klart et par aspekter ved seg som er veldig interessant når man bedriver utvikling i de lagene jeg gjør.</p>


<%= q4_dream_setup? %>

<p>Jeg har egentlig aldri vært noen gadget fyr, men jeg skal ha et par nye ting snart. Møbel og stilmessig har jeg en liten forkjærlighet for 60 / 70 tallet. Det var tiår da man virkelig lagde møbler som hadde godt design samt at ting var solide. Jeg har en utrolig fin og stilren benk fra denne tidsepoken som fungerer perfekt som TV benk, men i dag har jeg en tradisjonell tjukkas TV på den. Det ser ikke bra ut! TVer har alltid vært feite og krimminelt stygge kladdeiser som vi har sentralisert stuene våre rundt di siste tiårene, men heldigvis begynner LED TVer å ligne på noe som kan se bra ut så jeg skal ha en snart. Dog, jeg ser svært lite TV og liker heller å velge selv. Jeg trenger med andre ord også en multimedia boks. </p>

<p>80 tallet kom det svært lite godt ut av på alle måter. Det var totalt katastrofe og ser man tilbake på det tiåret må man bare riste på hodet av det meste, men det er et par ting som står igjen som utlimate klenodier fra det tiåret også. Et klenodie er <a href="http://www.commodoreusa.net/CUSA_C64.aspx">Commodere 64</a> maskinene. Nå har Commodore 64 maskinene gjenoppstått på nytt i orginalt design, men med helt ny kraftig maskinvare inni. Jeg skal ha en slik som multimedia boks!</p>

<p>TV området vil med andre ord bli en collage av det beste fra forskjellige tiår. Det vil bli en TV benk fra møblenes beste tiår som møter tidsalderen der TVer begynner å se bra ut supplementert med det ultimate symbolet på 80 tallet foran TVen. </p>

<p>Å ja. Også skal jeg ha en <a href="http://www.palm.com/us/products/pads/touchpad/index.html">HP TouchPad</a> når den kommer. Endelig kommer det en tablet som ser bra ut med et <a href="https://developer.palm.com/">fett OS</a>.</p>
